flows(1).json
[{"id":"1e32cd8a.0adaa2","type":"tab","label":"Granges","disabled":false,"info":""},{"id":"8569c545.6f2298","type":"inject","z":"1e32cd8a.0adaa2","name":"read","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":60,"wires":[["e1308cc8.a606c"]]},{"id":"53e4a87e.487348","type":"file in","z":"1e32cd8a.0adaa2","name":"routes","filename":"/data/rutas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":100,"wires":[["e27ee46a.054518"]]},{"id":"e27ee46a.054518","type":"xml","z":"1e32cd8a.0adaa2","name":"","property":"payload","attr":"","chr":"","x":370,"y":100,"wires":[["25468180.0c3fee"]]},{"id":"44da39eb.3b7fd8","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"cf50e0b3.d1b21","order":1,"width":14,"height":10,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes","x":1010,"y":200,"wires":[]},{"id":"de0436f1.636c28","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/routes","events":"","x":150,"y":200,"wires":[["b198a896.032cb8"]]},{"id":"25468180.0c3fee","type":"function","z":"1e32cd8a.0adaa2","name":"save routes to flow variables","func":"function string_to_lat_lon_points(kml, position) {\n    // Transforms string coordinates to well structured array coordinates\n    var string_points = kml.Document[0].Folder[position].Placemark[0].LineString[0].coordinates[0];\n    string_points = string_points.substring(7);\n    \n    var points = string_points.split(\"\\n\");\n    points.pop()\n    \n    points.forEach(function(part, index) {\n      this[index] = points[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, points);\n    \n    // Change lat lon position\n    points.forEach(function(part, index) { \n        var lat = points[index][0]    \n        var lon = points[index][1]\n        points[index][0] = lon,    \n        points[index][1] = lat\n    }, points);\n    return points;\n}\n\nfarms = flow.get(\"farms\");\nfarms.mas_gener.route = string_to_lat_lon_points(msg.payload.kml, 1);\nfarms.mas_almar.route = string_to_lat_lon_points(msg.payload.kml, 2);\nfarms.can_siset.route = string_to_lat_lon_points(msg.payload.kml, 3);\nfarms.mas_colom.route = string_to_lat_lon_points(msg.payload.kml, 4);\nfarms.mas_badosa.route = string_to_lat_lon_points(msg.payload.kml, 5);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":560,"y":100,"wires":[]},{"id":"b198a896.032cb8","type":"change","z":"1e32cd8a.0adaa2","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[["34ebfd41.3651d2"]]},{"id":"34ebfd41.3651d2","type":"split","z":"1e32cd8a.0adaa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":550,"y":200,"wires":[["c04e1185.fbf5c"]]},{"id":"e1308cc8.a606c","type":"file in","z":"1e32cd8a.0adaa2","name":"farms","filename":"/data/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":60,"wires":[["b25d58cf.5a29c8"]]},{"id":"b25d58cf.5a29c8","type":"xml","z":"1e32cd8a.0adaa2","name":"","property":"payload","attr":"","chr":"","x":370,"y":60,"wires":[["b0cd69c7.905b48"]]},{"id":"b0cd69c7.905b48","type":"function","z":"1e32cd8a.0adaa2","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":60,"wires":[["53e4a87e.487348"]]},{"id":"c04e1185.fbf5c","type":"function","z":"1e32cd8a.0adaa2","name":"prepare routes to map","func":"var colors = {\n    \"mas_gener\": \"red\",\n    \"mas_almar\": \"blue\",\n    \"can_siset\": \"green\",\n    \"mas_colom\": \"yellow\",\n    \"mas_badosa\": \"black\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["44da39eb.3b7fd8"]]},{"id":"c11dfb63.7c58a8","type":"function","z":"1e32cd8a.0adaa2","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":800,"y":620,"wires":[["b51c1caa.79cd5"]]},{"id":"32439066.eeb0a","type":"comment","z":"1e32cd8a.0adaa2","name":"Read configuration files","info":"","x":100,"y":20,"wires":[]},{"id":"d2488842.5aed38","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/farm1","events":"all","x":160,"y":620,"wires":[["7f1f056f.e9deec"]]},{"id":"b51c1caa.79cd5","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"3d700feb.02f4b","order":1,"width":7,"height":8,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":1030,"y":620,"wires":[]},{"id":"d5465164.50a5c","type":"change","z":"1e32cd8a.0adaa2","name":"obtain mas_gener info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":620,"wires":[["c11dfb63.7c58a8","822bbdf2.a319"]]},{"id":"7a46550f.7dfaac","type":"function","z":"1e32cd8a.0adaa2","name":"prepare mas_almar to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Almar\",\n    \"area\": msg.payload.area,\n    \"color\": \"blue\",\n    \"fillColor\": \"blue\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":800,"y":720,"wires":[["61f8903b.e8787"]]},{"id":"61bc3a0.f283fc8","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/farm2","events":"all","x":160,"y":720,"wires":[["ae2a7808.9eba78"]]},{"id":"61f8903b.e8787","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"9725f304.24da18","order":3,"width":7,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm2","x":1030,"y":720,"wires":[]},{"id":"5c715677.c7fb18","type":"change","z":"1e32cd8a.0adaa2","name":"obtain mas_almar info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_almar","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":720,"wires":[["7a46550f.7dfaac","4bcf6e8e.ea96b"]]},{"id":"b9541b0a.023308","type":"comment","z":"1e32cd8a.0adaa2","name":"All Routes","info":"","x":80,"y":160,"wires":[]},{"id":"280b399b.340176","type":"comment","z":"1e32cd8a.0adaa2","name":"Farms","info":"","x":90,"y":580,"wires":[]},{"id":"3ecf055f.e20fca","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"mas_gener","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":200,"y":1180,"wires":[["bf344519.5f41c8"]]},{"id":"15785408.634efc","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"can_siset","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":200,"y":1220,"wires":[["bf344519.5f41c8"]]},{"id":"9f756369.e4da7","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"mas_almar","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":200,"y":1260,"wires":[["bf344519.5f41c8"]]},{"id":"48018984.d1f608","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"mas_badosa","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":210,"y":1300,"wires":[["bf344519.5f41c8"]]},{"id":"44243d27.5d5484","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"mas_colom","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":210,"y":1340,"wires":[["bf344519.5f41c8"]]},{"id":"779f5af7.fe3144","type":"comment","z":"1e32cd8a.0adaa2","name":"Create fake cow GPS position","info":"","x":180,"y":1140,"wires":[]},{"id":"bf344519.5f41c8","type":"function","z":"1e32cd8a.0adaa2","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":480,"y":1260,"wires":[]},{"id":"7f1f056f.e9deec","type":"switch","z":"1e32cd8a.0adaa2","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":620,"wires":[["d5465164.50a5c"]]},{"id":"d5135a2a.9be148","type":"ui_button","z":"1e32cd8a.0adaa2","name":"","group":"3d700feb.02f4b","order":2,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":620,"y":660,"wires":[["822bbdf2.a319"]]},{"id":"ae2a7808.9eba78","type":"switch","z":"1e32cd8a.0adaa2","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":720,"wires":[["5c715677.c7fb18"]]},{"id":"822bbdf2.a319","type":"function","z":"1e32cd8a.0adaa2","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":850,"y":660,"wires":[["b51c1caa.79cd5"]]},{"id":"53f60300.9bac3c","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":660,"wires":[["d5135a2a.9be148","5f22591e.9ffb78","23acefb3.90a638","7937987c.d5d7c8","289f7551.411a8a"]]},{"id":"5f22591e.9ffb78","type":"ui_button","z":"1e32cd8a.0adaa2","name":"","group":"9725f304.24da18","order":5,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":620,"y":760,"wires":[["4bcf6e8e.ea96b"]]},{"id":"4bcf6e8e.ea96b","type":"function","z":"1e32cd8a.0adaa2","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_almar\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":850,"y":760,"wires":[["61f8903b.e8787"]]},{"id":"faa883c1.564468","type":"function","z":"1e32cd8a.0adaa2","name":"prepare can_siset to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Can Siset\",\n    \"area\": msg.payload.area,\n    \"color\": \"green\",\n    \"fillColor\": \"green\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":790,"y":820,"wires":[["572d6835.2c18b"]]},{"id":"3137c678.ebd52a","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/farm3","events":"all","x":160,"y":820,"wires":[["14a1929e.fdfda5"]]},{"id":"572d6835.2c18b","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"ad372b3.249b458","order":3,"width":7,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm3","x":1030,"y":820,"wires":[]},{"id":"58da6dcb.d77264","type":"change","z":"1e32cd8a.0adaa2","name":"obtain can_siset info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.can_siset","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":820,"wires":[["faa883c1.564468","bfed2502.af7b7"]]},{"id":"14a1929e.fdfda5","type":"switch","z":"1e32cd8a.0adaa2","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":820,"wires":[["58da6dcb.d77264"]]},{"id":"23acefb3.90a638","type":"ui_button","z":"1e32cd8a.0adaa2","name":"","group":"ad372b3.249b458","order":5,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":620,"y":860,"wires":[["bfed2502.af7b7"]]},{"id":"bfed2502.af7b7","type":"function","z":"1e32cd8a.0adaa2","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"can_siset\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":850,"y":860,"wires":[["572d6835.2c18b"]]},{"id":"ba962c60.94cb3","type":"function","z":"1e32cd8a.0adaa2","name":"prepare mas_colom to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 16\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Colom\",\n    \"area\": msg.payload.area,\n    \"color\": \"yellow\",\n    \"fillColor\": \"yellow\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":800,"y":920,"wires":[["a5f7c7d7.e4f0c8"]]},{"id":"333afe92.cbdfb2","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/farm4","events":"all","x":160,"y":920,"wires":[["d35fc788.bb366"]]},{"id":"a5f7c7d7.e4f0c8","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"c2608b25.5ab988","order":3,"width":7,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm4","x":1030,"y":920,"wires":[]},{"id":"c6e66d5d.8619a8","type":"change","z":"1e32cd8a.0adaa2","name":"obtain mas_colom info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_colom","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":920,"wires":[["ba962c60.94cb3","f3a7b56a.8a0678"]]},{"id":"d35fc788.bb366","type":"switch","z":"1e32cd8a.0adaa2","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":920,"wires":[["c6e66d5d.8619a8"]]},{"id":"7937987c.d5d7c8","type":"ui_button","z":"1e32cd8a.0adaa2","name":"","group":"c2608b25.5ab988","order":5,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":620,"y":960,"wires":[["f3a7b56a.8a0678"]]},{"id":"f3a7b56a.8a0678","type":"function","z":"1e32cd8a.0adaa2","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_colom\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":850,"y":960,"wires":[["a5f7c7d7.e4f0c8"]]},{"id":"8b08bb8e.63034","type":"function","z":"1e32cd8a.0adaa2","name":"prepare mas_badosa to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Badosa\",\n    \"area\": msg.payload.area,\n    \"color\": \"black\",\n    \"fillColor\": \"black\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":800,"y":1020,"wires":[["a94f65ea.6bebe8"]]},{"id":"6c81b12c.e5b8f8","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/farm5","events":"all","x":160,"y":1020,"wires":[["4add4bd2.bfa41c"]]},{"id":"a94f65ea.6bebe8","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"7153f874.a4b16","order":3,"width":7,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm5","x":1030,"y":1020,"wires":[]},{"id":"f7c22363.408158","type":"change","z":"1e32cd8a.0adaa2","name":"obtain mas_badosa info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_badosa","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1020,"wires":[["8b08bb8e.63034","f20d48f1.9a7758"]]},{"id":"4add4bd2.bfa41c","type":"switch","z":"1e32cd8a.0adaa2","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1020,"wires":[["f7c22363.408158"]]},{"id":"289f7551.411a8a","type":"ui_button","z":"1e32cd8a.0adaa2","name":"","group":"7153f874.a4b16","order":5,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":620,"y":1060,"wires":[["f20d48f1.9a7758"]]},{"id":"f20d48f1.9a7758","type":"function","z":"1e32cd8a.0adaa2","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_badosa\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":850,"y":1060,"wires":[["a94f65ea.6bebe8"]]},{"id":"6fb2d169.c9df2","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"f0ce3d4d.d11108","order":1,"width":8,"height":10,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/mas_gener","x":1170,"y":260,"wires":[]},{"id":"7491e583.639984","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/routes/mas_gener","events":"","x":180,"y":260,"wires":[["badc0731.cc5cc8"]]},{"id":"badc0731.cc5cc8","type":"change","z":"1e32cd8a.0adaa2","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["8d70471d.3c564"]]},{"id":"8d70471d.3c564","type":"split","z":"1e32cd8a.0adaa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":550,"y":260,"wires":[["4bf9e5bc.cce94c"]]},{"id":"4bf9e5bc.cce94c","type":"function","z":"1e32cd8a.0adaa2","name":"prepare routes to map","func":"var colors = {\n    \"mas_gener\": \"red\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":260,"wires":[["896387a5.74dfc"]]},{"id":"896387a5.74dfc","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"mas_gener","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":260,"wires":[["6fb2d169.c9df2"]]},{"id":"d9fb766d.64f3c8","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"e6030a3.3fdd4f8","order":1,"width":14,"height":10,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/mas_almar","x":1150,"y":320,"wires":[]},{"id":"6bae8366.07b704","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/routes/mas_almar","events":"","x":180,"y":320,"wires":[["744d15b6.6c8e0c"]]},{"id":"744d15b6.6c8e0c","type":"change","z":"1e32cd8a.0adaa2","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":320,"wires":[["56f61fd9.12841"]]},{"id":"56f61fd9.12841","type":"split","z":"1e32cd8a.0adaa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":550,"y":320,"wires":[["bdd7cd96.88ab38"]]},{"id":"bdd7cd96.88ab38","type":"function","z":"1e32cd8a.0adaa2","name":"prepare routes to map","func":"var colors = {\n    \"mas_almar\": \"blue\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":320,"wires":[["735a6d8c.bd1b6c"]]},{"id":"735a6d8c.bd1b6c","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"mas_almar","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":320,"wires":[["d9fb766d.64f3c8"]]},{"id":"a194ba2.74a7fc8","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"58df76a0.999a48","order":1,"width":14,"height":10,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/can_siset","x":1150,"y":380,"wires":[]},{"id":"b14bea3b.8eb588","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/routes/can_siset","events":"","x":180,"y":380,"wires":[["77e43186.e4ce28"]]},{"id":"77e43186.e4ce28","type":"change","z":"1e32cd8a.0adaa2","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[["a3fdff63.81d258"]]},{"id":"a3fdff63.81d258","type":"split","z":"1e32cd8a.0adaa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":550,"y":380,"wires":[["ee15afaa.842bb"]]},{"id":"ee15afaa.842bb","type":"function","z":"1e32cd8a.0adaa2","name":"prepare routes to map","func":"var colors = {\n    \"can_siset\": \"green\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":380,"wires":[["7d020ec5.d3d1b8"]]},{"id":"7d020ec5.d3d1b8","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"can_siset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":380,"wires":[["a194ba2.74a7fc8"]]},{"id":"2ac3602d.50c1","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"ca494786.b40fa","order":1,"width":14,"height":10,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/mas_colom","x":1150,"y":440,"wires":[]},{"id":"fd2a27d2.56c01","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/routes/mas_colom","events":"","x":190,"y":440,"wires":[["eb3f46fa.359d5"]]},{"id":"eb3f46fa.359d5","type":"change","z":"1e32cd8a.0adaa2","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":440,"wires":[["5b8e0672.290b78"]]},{"id":"5b8e0672.290b78","type":"split","z":"1e32cd8a.0adaa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":550,"y":440,"wires":[["ee75b6b7.fd1a8"]]},{"id":"ee75b6b7.fd1a8","type":"function","z":"1e32cd8a.0adaa2","name":"prepare routes to map","func":"var colors = {\n    \"mas_colom\": \"yellow\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["db490aa8.9806f"]]},{"id":"db490aa8.9806f","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"mas_colom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":440,"wires":[["2ac3602d.50c1"]]},{"id":"32a366c6.795c2a","type":"ui_worldmap","z":"1e32cd8a.0adaa2","group":"9de62f4b.bf8f1","order":1,"width":14,"height":10,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/mas_badosa","x":1150,"y":500,"wires":[]},{"id":"bf9c0918.d45658","type":"worldmap in","z":"1e32cd8a.0adaa2","name":"","path":"/map/routes/mas_badosa","events":"","x":190,"y":500,"wires":[["300efc39.1d5d54"]]},{"id":"300efc39.1d5d54","type":"change","z":"1e32cd8a.0adaa2","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":500,"wires":[["e3c7cf48.ce8ce"]]},{"id":"e3c7cf48.ce8ce","type":"split","z":"1e32cd8a.0adaa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":550,"y":500,"wires":[["ce6e59f7.8a96b"]]},{"id":"ce6e59f7.8a96b","type":"function","z":"1e32cd8a.0adaa2","name":"prepare routes to map","func":"var colors = {\n    \"mas_badosa\": \"black\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":500,"wires":[["ca02e85b.c1e758"]]},{"id":"ca02e85b.c1e758","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"mas_badosa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":500,"wires":[["32a366c6.795c2a"]]},{"id":"b31049b2.e10d7","type":"ui_button","z":"1e32cd8a.0adaa2","name":"","group":"f0ce3d4d.d11108","order":2,"width":8,"height":1,"passthru":false,"label":"Posicion 1","tooltip":"","color":"","bgcolor":"","icon":"local_shipping","payload":"","payloadType":"str","topic":"","x":1530,"y":220,"wires":[["16b92d04.00aa3b"]]},{"id":"16b92d04.00aa3b","type":"function","z":"1e32cd8a.0adaa2","name":"","func":"msg.payload={\n            \"name\":\"0407-FCM\", \n            \"lat\":41.91081,\n            \"lon\":2.80437,\n            \"icon\":\"truck\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1665,"y":220,"wires":[["8570ad8.c50a05"]]},{"id":"411d89b2.4cc9f8","type":"ui_button","z":"1e32cd8a.0adaa2","name":"","group":"f0ce3d4d.d11108","order":3,"width":8,"height":1,"passthru":false,"label":"Posicion 2","tooltip":"","color":"","bgcolor":"","icon":"local_shipping","payload":"","payloadType":"str","topic":"","x":1530,"y":260,"wires":[["a81b1223.a6da8"]]},{"id":"a81b1223.a6da8","type":"function","z":"1e32cd8a.0adaa2","name":"","func":"msg.payload={\n            \"name\":\"0407-FCM\",\n            \"lat\":41.96969,\n            \"lon\":2.77859,\n            \"icon\":\"truck\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":260,"wires":[["8570ad8.c50a05"]]},{"id":"4cc5a05c.c3895","type":"ui_button","z":"1e32cd8a.0adaa2","name":"","group":"f0ce3d4d.d11108","order":4,"width":8,"height":1,"passthru":false,"label":"Posicion 3","tooltip":"","color":"","bgcolor":"","icon":"local_shipping","payload":"","payloadType":"str","topic":"","x":1530,"y":300,"wires":[["9770e5e5.1511c8"]]},{"id":"9770e5e5.1511c8","type":"function","z":"1e32cd8a.0adaa2","name":"","func":"msg.payload={\n            \"name\":\"0407-FCM\",\n            \"lat\":42.03502,\n            \"lon\":2.89239,\n            \"icon\":\"truck\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":300,"wires":[["8570ad8.c50a05"]]},{"id":"8570ad8.c50a05","type":"link out","z":"1e32cd8a.0adaa2","name":"","links":["1902bdb6.ce229a"],"x":1775,"y":260,"wires":[]},{"id":"1902bdb6.ce229a","type":"link in","z":"1e32cd8a.0adaa2","name":"","links":["8570ad8.c50a05"],"x":1075,"y":260,"wires":[["6fb2d169.c9df2"]]},{"id":"4d65f113.5ed51","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca01","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1600,"wires":[["bb2abe1b.19c7d"]]},{"id":"d443595f.0f4308","type":"comment","z":"1e32cd8a.0adaa2","name":"Temperatura vacas","info":"","x":130,"y":1520,"wires":[]},{"id":"bb2abe1b.19c7d","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1600,"wires":[["eab9f095.d928e","b1c070b.27b9d9"]]},{"id":"eab9f095.d928e","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1600,"wires":[[],["aea8ecad.16f068"]]},{"id":"b1c070b.27b9d9","type":"ui_chart","z":"1e32cd8a.0adaa2","name":"","group":"c269dd3f.365438","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":1780,"wires":[[]]},{"id":"102a83e.645767c","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca02","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1640,"wires":[["33522fb.83f515"]]},{"id":"33522fb.83f515","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1640,"wires":[["e1bdc8d1.f842d","b1c070b.27b9d9"]]},{"id":"e1bdc8d1.f842d","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1640,"wires":[[],["aea8ecad.16f068"]]},{"id":"e8564383.bbc2c","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca03","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1680,"wires":[["1a477ad8.8f41b5"]]},{"id":"1a477ad8.8f41b5","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1680,"wires":[["72367b30.f95734","b1c070b.27b9d9"]]},{"id":"72367b30.f95734","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1680,"wires":[[],["aea8ecad.16f068"]]},{"id":"48d34c33.67585c","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca04","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1720,"wires":[["63dc83a7.928cd4"]]},{"id":"63dc83a7.928cd4","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1720,"wires":[["3fb814af.bee09c","b1c070b.27b9d9"]]},{"id":"3fb814af.bee09c","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1720,"wires":[[],[]]},{"id":"e014af09.b69b58","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca05","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1760,"wires":[["21b8d146.0ff926"]]},{"id":"21b8d146.0ff926","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1760,"wires":[["b993882b.acefc8","b1c070b.27b9d9"]]},{"id":"b993882b.acefc8","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1760,"wires":[[],[]]},{"id":"31111e1d.9496f2","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca06","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1800,"wires":[["15ad590b.5beb87"]]},{"id":"15ad590b.5beb87","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1800,"wires":[["1236fd5e.1e576b","b1c070b.27b9d9"]]},{"id":"1236fd5e.1e576b","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1800,"wires":[[],[]]},{"id":"395f3337.8964cc","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca07","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1840,"wires":[["e1dd4d37.1917e8"]]},{"id":"e1dd4d37.1917e8","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1840,"wires":[["43021cc0.373efc","b1c070b.27b9d9"]]},{"id":"43021cc0.373efc","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1840,"wires":[[],[]]},{"id":"9a8b468e.829618","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca08","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1880,"wires":[["d659144d.2a4d88"]]},{"id":"d659144d.2a4d88","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1880,"wires":[["74b21fdc.56f76","b1c070b.27b9d9"]]},{"id":"74b21fdc.56f76","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1880,"wires":[[],[]]},{"id":"15ced744.7458d9","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca09","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1920,"wires":[["e6731164.98c498"]]},{"id":"e6731164.98c498","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1920,"wires":[["31849cf2.36b9dc","b1c070b.27b9d9"]]},{"id":"31849cf2.36b9dc","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1920,"wires":[[],[]]},{"id":"405cd379.74b0b4","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"Vaca10","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1960,"wires":[["b01fdb41.dac31"]]},{"id":"b01fdb41.dac31","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"42","high":"44","inte":"true","property":"payload","x":360,"y":1960,"wires":[["b205691c.518ec","b1c070b.27b9d9"]]},{"id":"b205691c.518ec","type":"switch","z":"1e32cd8a.0adaa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"44","vt":"num"},{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1960,"wires":[[],[]]},{"id":"edc9e3d4.34ac68","type":"debug","z":"1e32cd8a.0adaa2","name":"1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":1560,"wires":[]},{"id":"52a3f8b4.9553a","type":"debug","z":"1e32cd8a.0adaa2","name":"2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":1600,"wires":[]},{"id":"e4f2b615.285f48","type":"debug","z":"1e32cd8a.0adaa2","name":"3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":1640,"wires":[]},{"id":"e9217bf0.81f7d","type":"ui_text","z":"1e32cd8a.0adaa2","group":"7153f874.a4b16","order":5,"width":0,"height":0,"name":"","label":"Numero de la vaca enferma por temperatura:","format":"{{msg.payload}}","layout":"row-left","x":1080,"y":1680,"wires":[]},{"id":"aea8ecad.16f068","type":"ui_text","z":"1e32cd8a.0adaa2","group":"abd39cd8.090f38","order":1,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-left","x":710,"y":1580,"wires":[]},{"id":"43037581.b3fbac","type":"ui_text","z":"1e32cd8a.0adaa2","group":"abd39cd8.090f38","order":2,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-left","x":710,"y":1620,"wires":[]},{"id":"649e1449.e8e0e4","type":"ui_text","z":"1e32cd8a.0adaa2","group":"abd39cd8.090f38","order":3,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-left","x":710,"y":1660,"wires":[]},{"id":"5aed82d5.361ad4","type":"function","z":"1e32cd8a.0adaa2","name":"","func":"var msg.ui_chart{\n                \"color\":\"red\"\n}\nreturn msg;","outputs":1,"noerr":14,"x":950,"y":1560,"wires":[["edc9e3d4.34ac68"]]},{"id":"4a11c139.e4b53","type":"inject","z":"1e32cd8a.0adaa2","name":"Mas Gener","topic":"Temp","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2140,"wires":[["4dfb56ad.11a96"]]},{"id":"4dfb56ad.11a96","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"2","high":"4","inte":"true","property":"payload","x":300,"y":2140,"wires":[["65c14225.15eddc","eec2cd73.eae108"]]},{"id":"65c14225.15eddc","type":"ui_gauge","z":"1e32cd8a.0adaa2","name":"","group":"6b779431.558d7c","order":2,"width":6,"height":4,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":2100,"wires":[]},{"id":"eec2cd73.eae108","type":"ui_chart","z":"1e32cd8a.0adaa2","name":"","group":"6b779431.558d7c","order":3,"width":6,"height":4,"label":"Histórico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":2140,"wires":[[]]},{"id":"760ee5fb.ddd474","type":"inject","z":"1e32cd8a.0adaa2","name":"Mas Gener","topic":"Temp","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2200,"wires":[["cbc407f5.2b0268"]]},{"id":"cbc407f5.2b0268","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"0","high":"80000","inte":"true","property":"payload","x":300,"y":2200,"wires":[["504fc325.c7b914"]]},{"id":"504fc325.c7b914","type":"ui_gauge","z":"1e32cd8a.0adaa2","name":"","group":"6b779431.558d7c","order":4,"width":6,"height":4,"gtype":"donut","title":"Revisión Km","label":"units","format":"{{value}}","min":0,"max":"80000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":2200,"wires":[]},{"id":"908ddbd0.d40a58","type":"comment","z":"1e32cd8a.0adaa2","name":"Mas Gener","info":"","x":110,"y":2080,"wires":[]},{"id":"5b70880f.dcab68","type":"inject","z":"1e32cd8a.0adaa2","name":"Mas Gener","topic":"Temp","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2260,"wires":[["7267c75d.b2fcb8"]]},{"id":"7267c75d.b2fcb8","type":"random","z":"1e32cd8a.0adaa2","name":"","low":"0","high":"5000","inte":"true","property":"payload","x":300,"y":2260,"wires":[["10a8b63d.23ac8a"]]},{"id":"10a8b63d.23ac8a","type":"ui_gauge","z":"1e32cd8a.0adaa2","name":"","group":"6b779431.558d7c","order":1,"width":6,"height":4,"gtype":"wave","title":"Cantidad leche","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":2260,"wires":[]},{"id":"62c6e801.c64cb","type":"inject","z":"1e32cd8a.0adaa2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1390,"y":260,"wires":[["411d89b2.4cc9f8"]]},{"id":"cf50e0b3.d1b21","type":"ui_group","z":"","name":"Mapa","tab":"e8437072.5a282","order":1,"disp":false,"width":"14","collapse":false},{"id":"3d700feb.02f4b","type":"ui_group","z":"","name":"Vacas","tab":"a29c7ef1.f31bd8","order":1,"disp":true,"width":7,"collapse":false},{"id":"9725f304.24da18","type":"ui_group","z":"","name":"Granjero","tab":"4cda402c.46e078","order":1,"disp":true,"width":15,"collapse":false},{"id":"ad372b3.249b458","type":"ui_group","z":"","name":"Granjero","tab":"9bd7f57d.53ca","order":1,"disp":true,"width":15,"collapse":false},{"id":"c2608b25.5ab988","type":"ui_group","z":"","name":"Granjero","tab":"66903e51.58fd6","order":1,"disp":true,"width":15,"collapse":false},{"id":"7153f874.a4b16","type":"ui_group","z":"","name":"Granjero","tab":"4ddb4f0a.f3184","order":1,"disp":true,"width":"15","collapse":true},{"id":"f0ce3d4d.d11108","type":"ui_group","z":"","name":"Camion GPS","tab":"a29c7ef1.f31bd8","order":4,"disp":true,"width":"8","collapse":false},{"id":"e6030a3.3fdd4f8","type":"ui_group","z":"","name":"Camionero","tab":"4cda402c.46e078","order":2,"disp":true,"width":15,"collapse":false},{"id":"58df76a0.999a48","type":"ui_group","z":"","name":"Camionero","tab":"9bd7f57d.53ca","order":2,"disp":true,"width":15,"collapse":false},{"id":"ca494786.b40fa","type":"ui_group","z":"","name":"Camionero","tab":"66903e51.58fd6","order":2,"disp":true,"width":15,"collapse":false},{"id":"9de62f4b.bf8f1","type":"ui_group","z":"","name":"Camionero","tab":"4ddb4f0a.f3184","order":2,"disp":true,"width":"15","collapse":true},{"id":"c269dd3f.365438","type":"ui_group","z":"","name":"Estado vacas","tab":"a29c7ef1.f31bd8","order":2,"disp":true,"width":"6","collapse":false},{"id":"abd39cd8.090f38","type":"ui_group","z":"","name":"Alarmas","tab":"a29c7ef1.f31bd8","order":3,"disp":true,"width":"6","collapse":false},{"id":"6b779431.558d7c","type":"ui_group","z":"","name":"Camion estado","tab":"a29c7ef1.f31bd8","order":5,"disp":true,"width":"6","collapse":false},{"id":"e8437072.5a282","type":"ui_tab","z":"","name":"Normal Maps","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"a29c7ef1.f31bd8","type":"ui_tab","z":"","name":"Mas-Gener","icon":"dashboard","order":13,"disabled":false,"hidden":false},{"id":"4cda402c.46e078","type":"ui_tab","z":"","name":"Mas Almar","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"9bd7f57d.53ca","type":"ui_tab","z":"","name":"Can Siset","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"66903e51.58fd6","type":"ui_tab","z":"","name":"Mas Colom","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"4ddb4f0a.f3184","type":"ui_tab","z":"","name":"Mas Badosa","icon":"dashboard","order":6,"disabled":false,"hidden":false}]