Proyecto/Proyecto/E2/E02.json
[{"id":"ff78fc9c.86266","type":"tab","label":"Granja y camiones","disabled":false,"info":""},{"id":"4c16743a.f4b8fc","type":"tab","label":"Planta","disabled":false,"info":""},{"id":"37f60da0.d310d2","type":"subflow","name":"TemperaturaVacas","info":"","category":"","in":[{"x":240,"y":160,"wires":[{"id":"cb186ff7.a0d2d"}]}],"out":[{"x":820,"y":100,"wires":[{"id":"89e1d2fb.7af84","port":0}]},{"x":800,"y":160,"wires":[{"id":"87a4998b.3266f8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"fc94882c.0ea4c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Proyecto","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eb1eb62c.5f5168","type":"sqlitedb","z":"","db":"/data/sqlite_database.db","mode":"RWC"},{"id":"bdb4cc12.fa7b2","type":"sqlitedb","z":"","db":"/Users/ruben/Desktop/Master/IIOT/Data/sqlite_database.db","mode":"RWC"},{"id":"5914e1a8.d575f","type":"sqlitedb","z":"","db":"/data/temp.db","mode":"RWC"},{"id":"85a59a2.072eb68","type":"sqlitedb","z":"","db":"/data/temp.db","mode":"RWC"},{"id":"3ac4cbf1.cf2db4","type":"sqlitedb","z":"","db":"/data/temp.db","mode":"RWC"},{"id":"18fa3d9e.f765e2","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"8ceab552.7baf98","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"c54850a2.ebdc3","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"6db0d048.b671e","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"d6732efd.4181b","type":"ui_spacer","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"5f6df5c9.fd3f5c","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"f449a6fa.ba28f8","type":"ui_spacer","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"e9a9fa85.324e38","type":"ui_spacer","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"f65b85d7.815338","type":"ui_spacer","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"6c074ee8.7e759","type":"ui_spacer","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"44f907be.060a68","type":"ui_spacer","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"bb98cf27.118b5","type":"ui_spacer","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"edd63c25.814","type":"ui_spacer","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"f5e78147.5ccb3","type":"ui_spacer","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"6008c2f1.12de9c","type":"ui_spacer","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"ed7f0364.f0a5f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"8ebef670.8daf08","type":"websocket-listener","z":"","path":"/server_status","wholemsg":"false"},{"id":"22dc0a83.18c096","type":"websocket-client","z":"","path":"ws://localhost:1880/server_status","tls":"","wholemsg":"false"},{"id":"b3d7203f.b73ec","type":"websocket-listener","z":"","path":"/download_json_file","wholemsg":"false"},{"id":"4af3c7b8.a65778","type":"websocket-client","z":"","path":"ws://localhost:1880/download_json_file","tls":"","wholemsg":"false"},{"id":"a0ae8eb3.737ce","type":"telegram bot","z":"","botname":"IIoT_UPC_CIM_Bot","usernames":"bonastreyair","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"83fde071.15b53","type":"mqtt-broker","z":"","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"cc5f1738.a75308","type":"telegram bot","z":"","botname":"IIoT_UPC_CIM_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"70c6b47b.d106ac","type":"gpsoo-configurator","z":"","name":"默认账号","phone":"","password":"","platform":"gpsoo"},{"id":"d0d37e07.45f21","type":"ui_spacer","name":"spacer","group":"f876ccb5.d8883","order":8,"width":1,"height":1},{"id":"9a5eefaf.1849c","type":"ui_spacer","name":"spacer","group":"","order":4,"width":9,"height":1},{"id":"a8ebf4d5.480658","type":"ui_spacer","name":"spacer","group":"","order":5,"width":9,"height":1},{"id":"cf7b93bd.f5506","type":"ui_spacer","name":"spacer","group":"","order":2,"width":15,"height":1},{"id":"28026597.d57a1a","type":"ui_spacer","name":"spacer","group":"","order":2,"width":9,"height":1},{"id":"1364f5e9.277bea","type":"ui_spacer","name":"spacer","group":"","order":2,"width":22,"height":1},{"id":"387e4015.05ef9","type":"ui_tab","z":"","name":"Mas Badosa","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"83fe32ae.1e269","type":"ui_group","z":"","name":"Granjero","tab":"387e4015.05ef9","order":1,"disp":true,"width":"15","collapse":true},{"id":"7d14c9f5.e23058","type":"ui_group","z":"","name":"Camionero","tab":"387e4015.05ef9","order":2,"disp":true,"width":"15","collapse":true},{"id":"6e71c70b.dd93c8","type":"sqlitedb","z":"","db":"/data/sqlite_database.db","mode":"RWC"},{"id":"8aae24b4.e775a8","type":"sqlitedb","z":"","db":"C:\\Users\\ruben\\Desktop\\Master\\IIOT\\Data\\Temperatura_Vacas.db","mode":"RWC"},{"id":"acd1c791.241cb8","type":"mqtt-broker","z":"","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7a12f6c7.ab4508","type":"telegram bot","z":"","botname":"IIoT_UPC_CIM_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"3255e161.0f25be","type":"telegram bot","z":"","botname":"CimDashBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"3c8e61be.c4aa1e","type":"ui_spacer","name":"spacer","group":"83fe32ae.1e269","order":3,"width":1,"height":1},{"id":"403a846d.f94e9c","type":"ui_spacer","name":"spacer","group":"83fe32ae.1e269","order":7,"width":1,"height":1},{"id":"b62cb595.7aaf58","type":"ui_spacer","name":"spacer","group":"7d14c9f5.e23058","order":6,"width":1,"height":1},{"id":"5976815f.68208","type":"ui_spacer","name":"spacer","group":"7d14c9f5.e23058","order":8,"width":1,"height":1},{"id":"955c6af4.76f698","type":"ui_spacer","name":"spacer","group":"7d14c9f5.e23058","order":9,"width":1,"height":1},{"id":"f7f5c477.c69e08","type":"ui_spacer","name":"spacer","group":"7d14c9f5.e23058","order":10,"width":1,"height":1},{"id":"f3dc641e.ef84e8","type":"ui_tab","z":"","name":"Mas Colom","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1eea93be.5f259c","type":"ui_tab","z":"","name":"Can Siset","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bac69b90.0ac958","type":"ui_tab","z":"","name":"Mas Almar","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"3143e248.55ab0e","type":"ui_tab","z":"","name":"Mas Gener","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"d5b997dd.533838","type":"ui_group","z":"","name":"Granjero","tab":"1eea93be.5f259c","order":1,"disp":true,"width":15,"collapse":false},{"id":"9fb3cec8.153bc","type":"ui_group","z":"","name":"Camionero","tab":"1eea93be.5f259c","order":2,"disp":true,"width":15,"collapse":false},{"id":"56a6c7f8.a41f18","type":"ui_group","z":"","name":"Granjero","tab":"3143e248.55ab0e","order":1,"disp":true,"width":15,"collapse":false},{"id":"1db4f7f2.974a28","type":"ui_group","z":"","name":"Camionero","tab":"3143e248.55ab0e","order":2,"disp":true,"width":15,"collapse":false},{"id":"c24f4863.3664e8","type":"ui_group","z":"","name":"Granjero","tab":"f3dc641e.ef84e8","order":1,"disp":true,"width":15,"collapse":false},{"id":"99a248a8.21e428","type":"ui_group","z":"","name":"Camionero","tab":"f3dc641e.ef84e8","order":2,"disp":true,"width":15,"collapse":false},{"id":"aeff9af1.e3da68","type":"ui_group","z":"","name":"Granjero","tab":"bac69b90.0ac958","order":1,"disp":true,"width":15,"collapse":false},{"id":"833b895.76c9878","type":"ui_group","z":"","name":"Camionero","tab":"bac69b90.0ac958","order":2,"disp":true,"width":15,"collapse":false},{"id":"5f0b16.524354ec","type":"ui_spacer","name":"spacer","group":"c24f4863.3664e8","order":3,"width":1,"height":1},{"id":"3a973b9d.7f1734","type":"ui_spacer","name":"spacer","group":"c24f4863.3664e8","order":7,"width":1,"height":1},{"id":"1d89f44f.66295c","type":"ui_spacer","name":"spacer","group":"99a248a8.21e428","order":6,"width":1,"height":1},{"id":"4220facb.3a2c24","type":"ui_spacer","name":"spacer","group":"99a248a8.21e428","order":8,"width":1,"height":1},{"id":"d159911e.10072","type":"ui_spacer","name":"spacer","group":"99a248a8.21e428","order":9,"width":1,"height":1},{"id":"20e0d168.13059e","type":"ui_spacer","name":"spacer","group":"99a248a8.21e428","order":10,"width":1,"height":1},{"id":"c935c52e.5c7b88","type":"ui_spacer","name":"spacer","group":"56a6c7f8.a41f18","order":3,"width":1,"height":1},{"id":"f7f7b312.f42e1","type":"ui_spacer","name":"spacer","group":"56a6c7f8.a41f18","order":8,"width":1,"height":1},{"id":"99658d4f.b662c","type":"ui_spacer","name":"spacer","group":"1db4f7f2.974a28","order":7,"width":1,"height":1},{"id":"1833c2ee.2b63ed","type":"ui_spacer","name":"spacer","group":"1db4f7f2.974a28","order":8,"width":1,"height":1},{"id":"309ddb64.670af4","type":"ui_spacer","name":"spacer","group":"1db4f7f2.974a28","order":9,"width":1,"height":1},{"id":"134f5c78.af53e4","type":"ui_spacer","name":"spacer","group":"1db4f7f2.974a28","order":10,"width":1,"height":1},{"id":"8aaf580c.b2d4d8","type":"ui_spacer","name":"spacer","group":"aeff9af1.e3da68","order":3,"width":1,"height":1},{"id":"74377629.ec7b18","type":"ui_spacer","name":"spacer","group":"aeff9af1.e3da68","order":7,"width":1,"height":1},{"id":"ebb9fd.e6e556","type":"ui_spacer","name":"spacer","group":"833b895.76c9878","order":6,"width":1,"height":1},{"id":"ac1dddb1.d6323","type":"ui_spacer","name":"spacer","group":"833b895.76c9878","order":8,"width":1,"height":1},{"id":"97418e77.d8374","type":"ui_spacer","name":"spacer","group":"833b895.76c9878","order":9,"width":1,"height":1},{"id":"69c2f8a5.d3aad8","type":"ui_spacer","name":"spacer","group":"833b895.76c9878","order":10,"width":1,"height":1},{"id":"34fe22d8.e4879e","type":"ui_spacer","name":"spacer","group":"d5b997dd.533838","order":3,"width":1,"height":1},{"id":"4feb1fda.e9317","type":"ui_spacer","name":"spacer","group":"d5b997dd.533838","order":7,"width":1,"height":1},{"id":"f627491a.6e6bb8","type":"ui_spacer","name":"spacer","group":"9fb3cec8.153bc","order":6,"width":1,"height":1},{"id":"bb9e6204.e931d","type":"ui_spacer","name":"spacer","group":"9fb3cec8.153bc","order":8,"width":1,"height":1},{"id":"c0a3db1a.750a08","type":"ui_spacer","name":"spacer","group":"9fb3cec8.153bc","order":9,"width":1,"height":1},{"id":"e929ed24.3fa93","type":"ui_spacer","name":"spacer","group":"9fb3cec8.153bc","order":10,"width":1,"height":1},{"id":"30539649.44b7ca","type":"ui_group","z":"","name":"Control oficinas","tab":"699ab27.de3cc4c","order":2,"disp":true,"width":12,"collapse":false},{"id":"a90a5baa.f60588","type":"ui_group","z":"","name":"Entrada camiones","tab":"699ab27.de3cc4c","order":1,"disp":true,"width":15,"collapse":false},{"id":"3ce1d14c.33be7e","type":"ui_group","z":"","name":"Equipos clima","tab":"699ab27.de3cc4c","order":3,"disp":true,"width":12,"collapse":false},{"id":"699ab27.de3cc4c","type":"ui_tab","z":"","name":"Planta","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"15cb9cb4.c74663","type":"ui_spacer","name":"spacer","group":"2dc38129.80530e","order":1,"width":1,"height":1},{"id":"b208fca6.23694","type":"comment","z":"ff78fc9c.86266","name":"Limite Temperatura","info":"","x":150,"y":60,"wires":[]},{"id":"864b895.3fd9278","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["6dfdc216.a12a4c","2754ffd5.af14f","bf673872.247098","570d9433.7ab1dc"]]},{"id":"6dfdc216.a12a4c","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":80,"wires":[]},{"id":"a0c26f8b.158d4","type":"comment","z":0,"name":"time","info":"","x":70,"y":40,"wires":[]},{"id":"2754ffd5.af14f","type":"delay","z":0,"name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":200,"wires":[["3accd746.c3ecc8"]]},{"id":"bf673872.247098","type":"trigger","z":0,"op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":220,"y":160,"wires":[["74a9bbe2.8f8254"]]},{"id":"3accd746.c3ecc8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":200,"wires":[]},{"id":"74a9bbe2.8f8254","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":160,"wires":[]},{"id":"570d9433.7ab1dc","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":120,"wires":[]},{"id":"51de40e5.a31fa","type":"comment","z":0,"name":"switch","info":"","x":70,"y":260,"wires":[]},{"id":"ecc1411.30bb5c","type":"switch","z":0,"name":"msg.payload > 5","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":320,"wires":[["d323d15f.ebe5c"],[]]},{"id":"cdb69b25.7c0a18","type":"change","z":0,"name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"previous_payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"number","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Number is at msg.number","tot":"str"},{"t":"set","p":"number","pt":"msg","to":"2020","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":460,"wires":[["ab386341.18717"]]},{"id":"b14af0e4.aef1c","type":"inject","z":0,"name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["ecc1411.30bb5c"]]},{"id":"d323d15f.ebe5c","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":300,"wires":[]},{"id":"5e03d73b.a1ee98","type":"inject","z":0,"name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["ecc1411.30bb5c"]]},{"id":"18a3daae.e6c4b5","type":"comment","z":0,"name":"change","info":"","x":70,"y":420,"wires":[]},{"id":"13fa68ab.a09267","type":"inject","z":0,"name":"","topic":"text","payload":"I'm a string","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["cdb69b25.7c0a18","2c49e129.eb232e"]]},{"id":"ab386341.18717","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":460,"wires":[]},{"id":"2c49e129.eb232e","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":420,"wires":[]},{"id":"fade912.a8a3a7","type":"split","z":0,"name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":580,"wires":[["78b67c3d.229234","5ec248fa.ede018"]]},{"id":"5ec248fa.ede018","type":"join","z":0,"name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":620,"wires":[["9d2fa2e8.dca4c"]]},{"id":"f75eab4c.6ae558","type":"json","z":0,"name":"","property":"payload","action":"","pretty":false,"x":270,"y":800,"wires":[["e777b38a.a0395"]]},{"id":"91a54070.e2492","type":"inject","z":0,"name":"","topic":"","payload":"one,two,three","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["fade912.a8a3a7"]]},{"id":"78b67c3d.229234","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":580,"wires":[]},{"id":"9d2fa2e8.dca4c","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":620,"wires":[]},{"id":"e4759d8.afa476","type":"comment","z":0,"name":"split/join","info":"","x":80,"y":540,"wires":[]},{"id":"a66da46a.63c018","type":"inject","z":0,"name":"","topic":"","payload":"{\"firstName\":\"John\",\"lastName\":\"Doe\",\"age\":33}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":760,"wires":[["8459de59.6295d","f75eab4c.6ae558"]]},{"id":"8459de59.6295d","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":760,"wires":[]},{"id":"e777b38a.a0395","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":800,"wires":[]},{"id":"5af5da74.5c1634","type":"comment","z":0,"name":"json","info":"","x":70,"y":720,"wires":[]},{"id":"190f594a.01cd67","type":"change","z":0,"name":"","rules":[{"t":"set","p":"2_string","pt":"global","to":"I'm a string","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":940,"wires":[[]]},{"id":"b40cd1f0.38d98","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":960,"wires":[["190f594a.01cd67","515edbf9.68ad04","c9640013.fbcd9","d052afff.8e2b5"]]},{"id":"515edbf9.68ad04","type":"function","z":0,"name":"set flow.3_bool","func":"flow.set(\"3_bool\", true)","outputs":1,"noerr":0,"x":300,"y":980,"wires":[[]]},{"id":"261f7f87.73eed","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1180,"wires":[["227a2053.051d3","db3b4184.408a4","30b7af94.bcae2","79a4e0d7.59281"]]},{"id":"e6998723.c99858","type":"comment","z":0,"name":"write context","info":"","x":90,"y":920,"wires":[]},{"id":"c9640013.fbcd9","type":"change","z":0,"name":"","rules":[{"t":"set","p":"1_number","pt":"flow","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":900,"wires":[[]]},{"id":"d052afff.8e2b5","type":"function","z":0,"name":"set global.4_json","func":"global.set(\n    \"4_json\", \n    {\n        \"database\": [\n            {\n                \"name\": \"John\"\n            },\n            {\n                \"name\": \"Elisa\"\n            }\n        ]\n    }\n)\n","outputs":1,"noerr":0,"x":310,"y":1020,"wires":[[]]},{"id":"db3b4184.408a4","type":"change","z":0,"name":"set msg.payload (global.2_string)","rules":[{"t":"set","p":"payload","pt":"msg","to":"2_string","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1160,"wires":[["d012f221.cab7b"]]},{"id":"227a2053.051d3","type":"change","z":0,"name":"set  msg.payload (flow.1_number)","rules":[{"t":"set","p":"payload","pt":"msg","to":"1_number","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1120,"wires":[["b97b17e1.177d48"]]},{"id":"30b7af94.bcae2","type":"function","z":0,"name":"set msg.payload (flow.3_bool)","func":"msg.payload = flow.get(\"3_bool\")\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1200,"wires":[["6d798608.b33508"]]},{"id":"79a4e0d7.59281","type":"function","z":0,"name":"set msg.payload (global.4_json)","func":"msg.payload = global.get(\"4_json\")\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1240,"wires":[["7fbcc986.300938"]]},{"id":"b97b17e1.177d48","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1120,"wires":[]},{"id":"d012f221.cab7b","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1160,"wires":[]},{"id":"6d798608.b33508","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1200,"wires":[]},{"id":"7fbcc986.300938","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1240,"wires":[]},{"id":"cf3657bc.16ec38","type":"comment","z":0,"name":"read context","info":"","x":90,"y":1140,"wires":[]},{"id":"d7506ccf.de049","type":"comment","z":0,"name":"files","info":"","x":70,"y":1340,"wires":[]},{"id":"d8721d80.4fe3c","type":"file","z":0,"name":"write /data/test.log","filename":"/data/test.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":330,"y":1380,"wires":[[]]},{"id":"8ed08f04.57234","type":"watch","z":0,"name":"watch /data/test.log","files":"/data/test.log","recursive":false,"x":110,"y":1420,"wires":[["1f9379bb.680236","f6540741.f72958"]]},{"id":"f6540741.f72958","type":"file in","z":0,"name":"read file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":1460,"wires":[["ed0aad8b.34ea6"]]},{"id":"7403d00.81d143","type":"inject","z":0,"name":"inject json","topic":"","payload":"{\"name\": \"John\", \"age\": 33}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1380,"wires":[["d8721d80.4fe3c"]]},{"id":"2fda7fbe.6c9e9","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":1460,"wires":[]},{"id":"ed0aad8b.34ea6","type":"json","z":0,"name":"","property":"payload","action":"","pretty":false,"x":430,"y":1460,"wires":[["2fda7fbe.6c9e9"]]},{"id":"1f9379bb.680236","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":1420,"wires":[]},{"id":"ae9fecb8.5de39","type":"inject","z":0,"name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":1640,"wires":[["27365966.644276"]]},{"id":"27365966.644276","type":"range","z":0,"minin":"0","maxin":"1023","minout":"0","maxout":"5","action":"clamp","round":false,"property":"payload","name":"","x":370,"y":1680,"wires":[["1efb6528.a4a56b"]]},{"id":"139a2ab3.f5b7c5","type":"inject","z":0,"name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":1680,"wires":[["27365966.644276"]]},{"id":"9e80d954.bae0c8","type":"inject","z":0,"name":"","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":1720,"wires":[["27365966.644276"]]},{"id":"1efb6528.a4a56b","type":"debug","z":0,"name":"","active":true,"console":"false","complete":"false","x":570,"y":1680,"wires":[]},{"id":"909d6222.3c9f7","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":1820,"wires":[]},{"id":"84f8e615.b85318","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1820,"wires":[["b188634c.2a527","909d6222.3c9f7"]]},{"id":"b188634c.2a527","type":"trigger","z":0,"op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":330,"y":1860,"wires":[["9b6ea7a.8334758"]]},{"id":"9b6ea7a.8334758","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":1860,"wires":[]},{"id":"dc71b6c.e5d5648","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1960,"wires":[["e323e1ce.c101e","af2c9683.e10a38"]]},{"id":"e323e1ce.c101e","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1960,"wires":[]},{"id":"af2c9683.e10a38","type":"trigger","z":0,"op1":"reset","op2":"true","op1type":"str","op2type":"bool","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":320,"y":2000,"wires":[["7be01270.62a5fc"]]},{"id":"7be01270.62a5fc","type":"trigger","z":0,"op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"reset","bytopic":"all","name":"","x":480,"y":2000,"wires":[["e323e1ce.c101e"]]},{"id":"110e518c.746fde","type":"inject","z":0,"name":"Inject Array","topic":"","payload":"[0,1,2,3,4,5,6,7,8,9]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2100,"wires":[["d545a57f.826228"]]},{"id":"d545a57f.826228","type":"split","z":0,"name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":2100,"wires":[["131af7af.8fa798"]]},{"id":"131af7af.8fa798","type":"delay","z":0,"name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":2100,"wires":[["45cb6307.e2da8c"]]},{"id":"45cb6307.e2da8c","type":"debug","z":0,"name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":2100,"wires":[]},{"id":"51ee940f.2c691c","type":"inject","z":0,"name":"Inject Array","topic":"","payload":"[0,1,2,3,4,5,6,7,8,9]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2200,"wires":[["b8bc9559.7a1408"]]},{"id":"b8bc9559.7a1408","type":"delay","z":0,"name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":380,"y":2200,"wires":[["9b9890e5.fa31d"]]},{"id":"9b9890e5.fa31d","type":"debug","z":0,"name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":2200,"wires":[]},{"id":"91a94965.891188","type":"inject","z":0,"name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2300,"wires":[["6f44e2cb.7b37fc"]]},{"id":"6f44e2cb.7b37fc","type":"rbe","z":0,"name":"report-by-exception","func":"deadband","gap":"","start":"","inout":"out","property":"payload","x":360,"y":2320,"wires":[["678d1b33.5a12c4"]]},{"id":"678d1b33.5a12c4","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":2320,"wires":[]},{"id":"1cc78e29.001fc2","type":"inject","z":0,"name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2340,"wires":[["6f44e2cb.7b37fc"]]},{"id":"fc1f8b0e.ae27d8","type":"inject","z":0,"name":"temperature","topic":"temperature","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2440,"wires":[["5614096e.42e428"]]},{"id":"5614096e.42e428","type":"join","z":0,"name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":2480,"wires":[["39fc1528.b5888a"]]},{"id":"39fc1528.b5888a","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":2480,"wires":[]},{"id":"c07c7b5f.682558","type":"inject","z":0,"name":"humidity","topic":"humidity","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2480,"wires":[["5614096e.42e428"]]},{"id":"4ff6ad6d.9d8914","type":"inject","z":0,"name":"pressure","topic":"pressure","payload":"999","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2520,"wires":[["5614096e.42e428"]]},{"id":"80685220.451fa","type":"inject","z":0,"name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2620,"wires":[["c924b078.32077"]]},{"id":"20cd49df.86d536","type":"csv","z":0,"name":"","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","skip":"1","strings":true,"x":510,"y":2620,"wires":[["d21416e5.90a6d8"]]},{"id":"d21416e5.90a6d8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":2620,"wires":[]},{"id":"c924b078.32077","type":"template","z":0,"name":"CSV data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"# This is some random data\na,b,c\n80,18,2\n52,36,10\n91,18,61\n32,47,65","output":"str","x":320,"y":2620,"wires":[["20cd49df.86d536"]]},{"id":"25f6787e.67b008","type":"inject","z":0,"name":"single","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2660,"wires":[["bc342ea2.10ed6"]]},{"id":"bc342ea2.10ed6","type":"change","z":0,"name":"Generate single payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2660,"wires":[["f5a6d8d8.d3deb8"]]},{"id":"f5a6d8d8.d3deb8","type":"csv","z":0,"name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"a,b,c","skip":"0","strings":true,"x":510,"y":2660,"wires":[["229ef8d6.f5b5b8"]]},{"id":"229ef8d6.f5b5b8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":2660,"wires":[]},{"id":"95ceda86.575358","type":"inject","z":0,"name":"array","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2700,"wires":[["85472e64.a9684"]]},{"id":"85472e64.a9684","type":"change","z":0,"name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2700,"wires":[["6be8bef7.569c2"]]},{"id":"6be8bef7.569c2","type":"csv","z":0,"name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"a,b,c","skip":"0","strings":true,"x":510,"y":2700,"wires":[["f6915230.86da8"]]},{"id":"f6915230.86da8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":2700,"wires":[]},{"id":"aa532e6e.aac52","type":"comment","z":0,"name":"Range","info":"","x":90,"y":1600,"wires":[]},{"id":"e1580b7b.535ac8","type":"comment","z":0,"name":"Simulate 0 data when sensor is down","info":"","x":190,"y":1920,"wires":[]},{"id":"1d837ead.f37881","type":"comment","z":0,"name":"When a sensor is down?","info":"","x":150,"y":1780,"wires":[]},{"id":"e5c06c32.510ea","type":"comment","z":0,"name":"Limit speed messages","info":"","x":140,"y":2060,"wires":[]},{"id":"41159b73.6cd644","type":"comment","z":0,"name":"Limit messages","info":"","x":120,"y":2160,"wires":[]},{"id":"f2bf4aac.e31fd8","type":"comment","z":0,"name":"Report by exception","info":"","x":130,"y":2260,"wires":[]},{"id":"c11b76e5.a2e228","type":"comment","z":0,"name":"Join","info":"","x":90,"y":2380,"wires":[]},{"id":"5652f0cc.9757d","type":"comment","z":0,"name":"CSV","info":"","x":90,"y":2560,"wires":[]},{"id":"72f25fcc.04324","type":"comment","z":0,"name":"Exercises","info":"https://cookbook.nodered.org/","x":80,"y":1560,"wires":[]},{"id":"89682130.04702","type":"ui_text","z":"ff78fc9c.86266","group":"83fe32ae.1e269","order":5,"width":0,"height":0,"name":"","label":"Numero de la vaca enferma por temperatura:","format":"{{msg.payload}}","layout":"row-left","x":1390,"y":140,"wires":[]},{"id":"aff3d6cb.e5b378","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"83fe32ae.1e269","order":6,"width":7,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":400,"wires":[["6375dff7.8fd87"]]},{"id":"6375dff7.8fd87","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":400,"wires":[["89682130.04702"]]},{"id":"f97f339f.a8c3b","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["ba47cf48.c387b"]]},{"id":"b9af1c2.7452be","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"42","vt":"num"},{"t":"lte","v":"42","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":240,"wires":[["f97f339f.a8c3b"],["9ee34b69.93cd38"]]},{"id":"9ee34b69.93cd38","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":260,"wires":[["ba47cf48.c387b"]]},{"id":"d44999ba.6302f8","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"41","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["f6051b87.8dca58"]]},{"id":"2b8c41ce.e1f19e","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"44","payloadType":"num","repeat":"480","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["f6051b87.8dca58"]]},{"id":"ba47cf48.c387b","type":"join","z":"ff78fc9c.86266","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"vacas","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":890,"y":260,"wires":[["89682130.04702","8b2ee3ae.d7976","11369111.4dc43f","55f1d633.2f0888","6a77eedb.52726"]]},{"id":"320e7d65.711d72","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"41","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["b9af1c2.7452be"]]},{"id":"364b16e5.1a4e1a","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"44","payloadType":"num","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["b9af1c2.7452be"]]},{"id":"b0e70669.e4fbc8","type":"inject","z":"ff78fc9c.86266","name":"Mas Badosa","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2040,"y":1140,"wires":[["ff54acc8.7930e"]]},{"id":"ff54acc8.7930e","type":"random","z":"ff78fc9c.86266","name":"","low":"2","high":"4","inte":"true","property":"payload","x":2200,"y":1140,"wires":[["f6eba82.ab00c58","12d259c6.bd9cc6"]]},{"id":"f6eba82.ab00c58","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"7d14c9f5.e23058","order":5,"width":7,"height":4,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2430,"y":1060,"wires":[]},{"id":"12d259c6.bd9cc6","type":"ui_chart","z":"ff78fc9c.86266","name":"","group":"7d14c9f5.e23058","order":11,"width":15,"height":4,"label":"Histórico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2440,"y":1140,"wires":[[]]},{"id":"da69f042.6231d","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["ba47cf48.c387b"]]},{"id":"7f92c194.466b2","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"42","vt":"num"},{"t":"lte","v":"42","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":360,"wires":[["da69f042.6231d"],["a6e02e08.4a378"]]},{"id":"dbcb04fc.850488","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["ba47cf48.c387b"]]},{"id":"7ed3f3b5.95f58c","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"42","vt":"num"},{"t":"lte","v":"42","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":440,"wires":[["dbcb04fc.850488"],["27597bff.ae3b74"]]},{"id":"a6e02e08.4a378","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":360,"wires":[["ba47cf48.c387b"]]},{"id":"27597bff.ae3b74","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":460,"wires":[["ba47cf48.c387b"]]},{"id":"f7f8f0ec.8bd29","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"41","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["7f92c194.466b2"]]},{"id":"54ab0d08.c131d4","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"44","payloadType":"num","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["7f92c194.466b2"]]},{"id":"89635054.d894c","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"41","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["7ed3f3b5.95f58c"]]},{"id":"6e90ad67.42ad44","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"44","payloadType":"num","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["7ed3f3b5.95f58c"]]},{"id":"89e1d2fb.7af84","type":"change","z":"37f60da0.d310d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":120,"wires":[[]]},{"id":"cb186ff7.a0d2d","type":"switch","z":"37f60da0.d310d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"42","vt":"num"},{"t":"lte","v":"42","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":160,"wires":[["89e1d2fb.7af84"],["87a4998b.3266f8"]]},{"id":"87a4998b.3266f8","type":"change","z":"37f60da0.d310d2","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":160,"wires":[[]]},{"id":"ed9b118d.c876c","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":100,"wires":[["ba47cf48.c387b"]]},{"id":"f6051b87.8dca58","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"42","vt":"num"},{"t":"lte","v":"42","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":140,"wires":[["ed9b118d.c876c"],["e17bb5f5.e9e858"]]},{"id":"e17bb5f5.e9e858","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":140,"wires":[["ba47cf48.c387b"]]},{"id":"d3101aa8.114c98","type":"inject","z":"ff78fc9c.86266","name":"Mas Badosa","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2040,"y":1200,"wires":[["381601e8.7761ce"]]},{"id":"381601e8.7761ce","type":"random","z":"ff78fc9c.86266","name":"","low":"0","high":"80000","inte":"true","property":"payload","x":2200,"y":1200,"wires":[["e6f9481c.175458"]]},{"id":"e6f9481c.175458","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"7d14c9f5.e23058","order":7,"width":7,"height":4,"gtype":"donut","title":"Revisión Km","label":"units","format":"{{value}}","min":0,"max":"80000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2370,"y":1200,"wires":[]},{"id":"5421b57e.fcc14c","type":"comment","z":"ff78fc9c.86266","name":"Lectura de mapa","info":"","x":160,"y":940,"wires":[]},{"id":"b203413.2fa8fc","type":"inject","z":"ff78fc9c.86266","name":"read","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":210,"y":1020,"wires":[["6e862e34.1d5a"]]},{"id":"9ff1fb6b.ba8878","type":"file in","z":"ff78fc9c.86266","name":"routes","filename":"C:\\Users\\ruben\\Desktop\\Master\\IIOT\\Data\\rutas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1060,"wires":[["a0716e69.a1654"]]},{"id":"a0716e69.a1654","type":"xml","z":"ff78fc9c.86266","name":"","property":"payload","attr":"","chr":"","x":450,"y":1060,"wires":[["d7328bd1.8ccfe8"]]},{"id":"d7328bd1.8ccfe8","type":"function","z":"ff78fc9c.86266","name":"save routes to flow variables","func":"function string_to_lat_lon_points(kml, position) {\n    // Transforms string coordinates to well structured array coordinates\n    var string_points = kml.Document[0].Folder[position].Placemark[0].LineString[0].coordinates[0];\n    string_points = string_points.substring(7);\n    \n    var points = string_points.split(\"\\n\");\n    points.pop()\n    \n    points.forEach(function(part, index) {\n      this[index] = points[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, points);\n    \n    // Change lat lon position\n    points.forEach(function(part, index) { \n        var lat = points[index][0]    \n        var lon = points[index][1]\n        points[index][0] = lon,    \n        points[index][1] = lat\n    }, points);\n    return points;\n}\n\nfarms = flow.get(\"farms\");\nfarms.mas_gener.route = string_to_lat_lon_points(msg.payload.kml, 1);\nfarms.mas_almar.route = string_to_lat_lon_points(msg.payload.kml, 2);\nfarms.can_siset.route = string_to_lat_lon_points(msg.payload.kml, 3);\nfarms.mas_colom.route = string_to_lat_lon_points(msg.payload.kml, 4);\nfarms.mas_badosa.route = string_to_lat_lon_points(msg.payload.kml, 5);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":640,"y":1060,"wires":[]},{"id":"6e862e34.1d5a","type":"file in","z":"ff78fc9c.86266","name":"farms","filename":"C:\\Users\\ruben\\Desktop\\Master\\IIOT\\Data\\granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1020,"wires":[["3f1f850e.17d8ca"]]},{"id":"3f1f850e.17d8ca","type":"xml","z":"ff78fc9c.86266","name":"","property":"payload","attr":"","chr":"","x":450,"y":1020,"wires":[["5c35401b.fd528"]]},{"id":"5c35401b.fd528","type":"function","z":"ff78fc9c.86266","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1020,"wires":[["9ff1fb6b.ba8878"]]},{"id":"630af05e.3cd9c","type":"function","z":"ff78fc9c.86266","name":"prepare mas_Badosa to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Badosa\",\n    \"area\": msg.payload.area,\n    \"color\": \"blue\",\n    \"fillColor\": \"blue\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":780,"y":1520,"wires":[["a7fff3b5.4c6d"]]},{"id":"1e8f0b56.661d25","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/farm1","events":"all","x":140,"y":1520,"wires":[["d6c5548a.4c0158"]]},{"id":"a7fff3b5.4c6d","type":"ui_worldmap","z":"ff78fc9c.86266","group":"83fe32ae.1e269","order":1,"width":15,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":1010,"y":1520,"wires":[]},{"id":"930c6655.6677d8","type":"change","z":"ff78fc9c.86266","name":"obtain mas_b info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_almar","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1520,"wires":[["630af05e.3cd9c","e25d4251.501b1"]]},{"id":"d81869.56578798","type":"comment","z":"ff78fc9c.86266","name":"Mapas Mas Colom","info":"","x":150,"y":1780,"wires":[]},{"id":"d6c5548a.4c0158","type":"switch","z":"ff78fc9c.86266","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":1520,"wires":[["930c6655.6677d8"]]},{"id":"1c014f95.1ccf4","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"83fe32ae.1e269","order":8,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":600,"y":1560,"wires":[["e25d4251.501b1"]]},{"id":"e25d4251.501b1","type":"function","z":"ff78fc9c.86266","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_almar\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":830,"y":1560,"wires":[["a7fff3b5.4c6d"]]},{"id":"f5b37a17.e85e08","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1560,"wires":[["1c014f95.1ccf4"]]},{"id":"d1ab771.d913788","type":"function","z":"ff78fc9c.86266","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":460,"y":1660,"wires":[]},{"id":"3a50d554.c506ba","type":"inject","z":"ff78fc9c.86266","name":"","topic":"mas_almar","payload":"50","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":160,"y":1660,"wires":[["d1ab771.d913788"]]},{"id":"aceb8df7.4ce76","type":"ui_dropdown","z":"ff78fc9c.86266","name":"Temperatura Vacas Mas Badosa","label":"","tooltip":"","place":"Select option","group":"83fe32ae.1e269","order":2,"width":7,"height":1,"passthru":true,"options":[{"label":"","value":"Vaca1","type":"str"},{"label":"","value":"Vaca2","type":"str"},{"label":"","value":"Vaca3","type":"str"},{"label":"","value":"Vaca4","type":"str"},{"label":"","value":"Vaca5","type":"str"},{"label":"","value":"Vaca6","type":"str"},{"label":"","value":"Vaca7","type":"str"},{"label":"","value":"Vaca8","type":"str"},{"label":"","value":"Vaca9","type":"str"},{"label":"","value":"Vaca10","type":"str"},{"label":"","value":"Vaca11","type":"str"},{"label":"","value":"Vaca12","type":"str"},{"label":"","value":"Vaca13","type":"str"},{"label":"","value":"Vaca14","type":"str"},{"label":"","value":"Vaca15","type":"str"},{"label":"","value":"Vaca16","type":"str"},{"label":"","value":"Vaca17","type":"str"},{"label":"","value":"Vaca18","type":"str"},{"label":"","value":"Vaca19","type":"str"},{"label":"","value":"Vaca20","type":"str"},{"label":"","value":"Vaca21","type":"str"},{"label":"","value":"Vaca22","type":"str"},{"label":"","value":"Vaca23","type":"str"},{"label":"","value":"Vaca24","type":"str"},{"label":"","value":"Vaca25","type":"str"},{"label":"","value":"Vaca26","type":"str"},{"label":"","value":"Vaca27","type":"str"},{"label":"","value":"Vaca28","type":"str"},{"label":"","value":"Vaca29","type":"str"},{"label":"","value":"Vaca30","type":"str"},{"label":"","value":"Vaca31","type":"str"},{"label":"","value":"Vaca32","type":"str"},{"label":"","value":"Vaca33","type":"str"},{"label":"","value":"Vaca34","type":"str"},{"label":"","value":"Vaca35","type":"str"},{"label":"","value":"Vaca36","type":"str"},{"label":"","value":"Vaca37","type":"str"},{"label":"","value":"Vaca38","type":"str"},{"label":"","value":"Vaca39","type":"str"},{"label":"","value":"Vaca40","type":"str"},{"label":"","value":"Vaca41","type":"str"},{"label":"","value":"Vaca42","type":"str"},{"label":"","value":"Vaca43","type":"str"},{"label":"","value":"Vaca44","type":"str"},{"label":"","value":"Vaca45","type":"str"},{"label":"","value":"Vaca46","type":"str"},{"label":"","value":"Vaca47","type":"str"},{"label":"","value":"Vaca48","type":"str"},{"label":"","value":"Vaca49","type":"str"},{"label":"","value":"Vaca50","type":"str"}],"payload":"","topic":"","x":1850,"y":340,"wires":[["d57d5506.c5a358"]]},{"id":"d0eb0be1.0dcbe8","type":"random","z":"ff78fc9c.86266","name":"","low":"35","high":"44","inte":"true","property":"payload","x":2520,"y":500,"wires":[["3a68682d.ade1d8"]]},{"id":"d57d5506.c5a358","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Vaca1","vt":"str"},{"t":"eq","v":"Vaca2","vt":"str"},{"t":"eq","v":"Vaca3","vt":"str"},{"t":"eq","v":"Vaca4","vt":"str"},{"t":"eq","v":"Vaca5","vt":"str"},{"t":"eq","v":"Vaca6","vt":"str"},{"t":"eq","v":"Vaca7","vt":"str"},{"t":"eq","v":"Vaca8","vt":"str"},{"t":"eq","v":"Vaca9","vt":"str"},{"t":"eq","v":"Vaca10","vt":"str"},{"t":"eq","v":"Vaca11","vt":"str"},{"t":"eq","v":"Vaca12","vt":"str"},{"t":"eq","v":"Vaca13","vt":"str"},{"t":"eq","v":"Vaca14","vt":"str"},{"t":"eq","v":"Vaca15","vt":"str"},{"t":"eq","v":"Vaca16","vt":"str"},{"t":"eq","v":"Vaca17","vt":"str"},{"t":"eq","v":"Vaca18","vt":"str"},{"t":"eq","v":"Vaca19","vt":"str"},{"t":"eq","v":"Vaca20","vt":"str"},{"t":"eq","v":"Vaca21","vt":"str"},{"t":"eq","v":"Vaca22","vt":"str"},{"t":"eq","v":"Vaca23","vt":"str"},{"t":"eq","v":"Vaca24","vt":"str"},{"t":"eq","v":"Vaca25","vt":"str"},{"t":"eq","v":"Vaca26","vt":"str"},{"t":"eq","v":"Vaca27","vt":"str"},{"t":"eq","v":"Vaca28","vt":"str"},{"t":"eq","v":"Vaca29","vt":"str"},{"t":"eq","v":"Vaca30","vt":"str"},{"t":"eq","v":"Vaca31","vt":"str"},{"t":"eq","v":"Vaca32","vt":"str"},{"t":"eq","v":"Vaca33","vt":"str"},{"t":"eq","v":"Vaca34","vt":"str"},{"t":"eq","v":"Vaca35","vt":"str"},{"t":"eq","v":"Vaca36","vt":"str"},{"t":"eq","v":"Vaca37","vt":"str"},{"t":"eq","v":"Vaca38","vt":"str"},{"t":"eq","v":"Vaca39","vt":"str"},{"t":"eq","v":"Vaca40","vt":"str"},{"t":"eq","v":"Vaca41","vt":"str"},{"t":"eq","v":"Vaca42","vt":"str"},{"t":"eq","v":"Vaca43","vt":"str"},{"t":"eq","v":"Vaca44","vt":"str"},{"t":"eq","v":"Vaca45","vt":"str"},{"t":"eq","v":"Vaca46","vt":"str"},{"t":"eq","v":"Vaca47","vt":"str"},{"t":"eq","v":"Vaca48","vt":"str"},{"t":"eq","v":"Vaca49","vt":"str"},{"t":"eq","v":"Vaca50","vt":"str"},{"t":"eq","v":"Vaca51","vt":"str"},{"t":"eq","v":"Vaca51","vt":"str"}],"checkall":"true","repair":false,"outputs":52,"x":2150,"y":500,"wires":[["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"],["d0eb0be1.0dcbe8"]]},{"id":"ef12b5d0.196bb8","type":"ui_text","z":"ff78fc9c.86266","group":"83fe32ae.1e269","order":4,"width":7,"height":1,"name":"Mas_Badosa","label":"Temperatura:","format":"{{msg.payload}}","layout":"row-left","x":2910,"y":340,"wires":[]},{"id":"3a68682d.ade1d8","type":"join","z":"ff78fc9c.86266","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2690,"y":500,"wires":[["ef12b5d0.196bb8","1d57c659.05e93a","592d0236.0ece2c","368e7793.1d8c48","919691c1.2e6f3"]]},{"id":"3dc1bbbc.0e1344","type":"comment","z":"ff78fc9c.86266","name":"Simulacion de la lectura del sensor","info":"","x":2360,"y":120,"wires":[]},{"id":"fb392bf7.46bc08","type":"comment","z":"ff78fc9c.86266","name":"Mas Badosa","info":"","x":2030,"y":1060,"wires":[]},{"id":"9c47055.2470ff8","type":"ui_worldmap","z":"ff78fc9c.86266","group":"7d14c9f5.e23058","order":1,"width":15,"height":7,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/mas_badosa","x":1510,"y":1220,"wires":[]},{"id":"5a2ee3af.41087c","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/routes/mas_badosa","events":"","x":170,"y":1220,"wires":[["cef6213a.6a402"]]},{"id":"cef6213a.6a402","type":"change","z":"ff78fc9c.86266","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1220,"wires":[["c2817eac.f16b4"]]},{"id":"c2817eac.f16b4","type":"split","z":"ff78fc9c.86266","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":570,"y":1220,"wires":[["3aef7c6d.f55c64"]]},{"id":"3aef7c6d.f55c64","type":"function","z":"ff78fc9c.86266","name":"prepare routes to map","func":"var colors = {\n    \"mas_badosa\": \"blue\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1220,"wires":[["8e957d43.775a1"]]},{"id":"8e957d43.775a1","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"mas_badosa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1220,"wires":[["9c47055.2470ff8"]]},{"id":"df890f1c.9c5f2","type":"link out","z":"ff78fc9c.86266","name":"","links":["87d59e8c.14843"],"x":1135,"y":1380,"wires":[]},{"id":"87d59e8c.14843","type":"link in","z":"ff78fc9c.86266","name":"","links":["df890f1c.9c5f2"],"x":1180,"y":1300,"wires":[["9c47055.2470ff8"]]},{"id":"f6a91c35.3cd78","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"7d14c9f5.e23058","order":2,"width":5,"height":1,"passthru":false,"label":"Posicion 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":1300,"wires":[["8c2b06ce.570918"]]},{"id":"8c2b06ce.570918","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"2456-FCM\", \"lat\":42.11475, \"lon\":2.7425};\n\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":1300,"wires":[["df890f1c.9c5f2"]]},{"id":"2cdbdac1.0ceda6","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"7d14c9f5.e23058","order":3,"width":5,"height":1,"passthru":false,"label":"Posicion 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":1360,"wires":[["c2aa9d9c.c62cf"]]},{"id":"c2aa9d9c.c62cf","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"2456-FCM\", \"lat\":42.115, \"lon\":2.76149};\n\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":1360,"wires":[["df890f1c.9c5f2"]]},{"id":"a08f9c9.e98a36","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"7d14c9f5.e23058","order":4,"width":5,"height":1,"passthru":false,"label":"Posicion 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":1420,"wires":[["83dbbc97.6f9d6"]]},{"id":"83dbbc97.6f9d6","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"2456-FCM\", \"lat\":42.03502, \"lon\":2.89239};\n\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":1420,"wires":[["df890f1c.9c5f2"]]},{"id":"e3a8357b.923d88","type":"ui_dropdown","z":"ff78fc9c.86266","name":"Temperatura Vacas Can Siset","label":"","tooltip":"","place":"Select option","group":"d5b997dd.533838","order":2,"width":7,"height":1,"passthru":true,"options":[{"label":"","value":"Vaca1","type":"str"},{"label":"","value":"Vaca2","type":"str"},{"label":"","value":"Vaca3","type":"str"},{"label":"","value":"Vaca4","type":"str"},{"label":"","value":"Vaca5","type":"str"},{"label":"","value":"Vaca6","type":"str"},{"label":"","value":"Vaca7","type":"str"},{"label":"","value":"Vaca8","type":"str"},{"label":"","value":"Vaca9","type":"str"},{"label":"","value":"Vaca10","type":"str"},{"label":"","value":"Vaca11","type":"str"},{"label":"","value":"Vaca12","type":"str"},{"label":"","value":"Vaca13","type":"str"},{"label":"","value":"Vaca14","type":"str"},{"label":"","value":"Vaca15","type":"str"},{"label":"","value":"Vaca16","type":"str"},{"label":"","value":"Vaca17","type":"str"},{"label":"","value":"Vaca18","type":"str"},{"label":"","value":"Vaca19","type":"str"},{"label":"","value":"Vaca20","type":"str"},{"label":"","value":"Vaca21","type":"str"},{"label":"","value":"Vaca22","type":"str"},{"label":"","value":"Vaca23","type":"str"},{"label":"","value":"Vaca24","type":"str"},{"label":"","value":"Vaca25","type":"str"},{"label":"","value":"Vaca26","type":"str"},{"label":"","value":"Vaca27","type":"str"},{"label":"","value":"Vaca28","type":"str"},{"label":"","value":"Vaca29","type":"str"},{"label":"","value":"Vaca30","type":"str"},{"label":"","value":"Vaca31","type":"str"},{"label":"","value":"Vaca32","type":"str"},{"label":"","value":"Vaca33","type":"str"},{"label":"","value":"Vaca34","type":"str"},{"label":"","value":"Vaca35","type":"str"},{"label":"","value":"Vaca36","type":"str"},{"label":"","value":"Vaca37","type":"str"},{"label":"","value":"Vaca38","type":"str"},{"label":"","value":"Vaca39","type":"str"},{"label":"","value":"Vaca40","type":"str"},{"label":"","value":"Vaca41","type":"str"},{"label":"","value":"Vaca42","type":"str"}],"payload":"","topic":"","x":1850,"y":420,"wires":[["d57d5506.c5a358"]]},{"id":"ede46b49.1213c8","type":"ui_dropdown","z":"ff78fc9c.86266","name":"Temperatura Vacas Mas Gener","label":"","tooltip":"","place":"Select option","group":"56a6c7f8.a41f18","order":2,"width":7,"height":1,"passthru":true,"options":[{"label":"","value":"Vaca1","type":"str"},{"label":"","value":"Vaca2","type":"str"},{"label":"","value":"Vaca3","type":"str"},{"label":"","value":"Vaca4","type":"str"},{"label":"","value":"Vaca5","type":"str"},{"label":"","value":"Vaca6","type":"str"},{"label":"","value":"Vaca7","type":"str"},{"label":"","value":"Vaca8","type":"str"},{"label":"","value":"Vaca9","type":"str"},{"label":"","value":"Vaca10","type":"str"},{"label":"","value":"Vaca11","type":"str"},{"label":"","value":"Vaca12","type":"str"},{"label":"","value":"Vaca13","type":"str"},{"label":"","value":"Vaca14","type":"str"},{"label":"","value":"Vaca15","type":"str"},{"label":"","value":"Vaca16","type":"str"},{"label":"","value":"Vaca17","type":"str"},{"label":"","value":"Vaca18","type":"str"},{"label":"","value":"Vaca19","type":"str"},{"label":"","value":"Vaca20","type":"str"},{"label":"","value":"Vaca21","type":"str"},{"label":"","value":"Vaca22","type":"str"},{"label":"","value":"Vaca23","type":"str"},{"label":"","value":"Vaca24","type":"str"},{"label":"","value":"Vaca25","type":"str"},{"label":"","value":"Vaca26","type":"str"},{"label":"","value":"Vaca27","type":"str"},{"label":"","value":"Vaca28","type":"str"},{"label":"","value":"Vaca29","type":"str"},{"label":"","value":"Vaca30","type":"str"},{"label":"","value":"Vaca31","type":"str"},{"label":"","value":"Vaca32","type":"str"},{"label":"","value":"Vaca33","type":"str"},{"label":"","value":"Vaca34","type":"str"},{"label":"","value":"Vaca35","type":"str"},{"label":"","value":"Vaca36","type":"str"},{"label":"","value":"Vaca37","type":"str"},{"label":"","value":"Vaca38","type":"str"},{"label":"","value":"Vaca39","type":"str"},{"label":"","value":"Vaca40","type":"str"}],"payload":"","topic":"","x":1850,"y":500,"wires":[["d57d5506.c5a358"]]},{"id":"adf36567.f01668","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1510,"y":500,"wires":[["ede46b49.1213c8","aceb8df7.4ce76","e3a8357b.923d88","772af086.9585a","f8389013.68c05"]]},{"id":"772af086.9585a","type":"ui_dropdown","z":"ff78fc9c.86266","name":"Temperatura Vacas Mas Colom","label":"","tooltip":"","place":"Select option","group":"c24f4863.3664e8","order":2,"width":7,"height":1,"passthru":true,"options":[{"label":"","value":"Vaca1","type":"str"},{"label":"","value":"Vaca2","type":"str"},{"label":"","value":"Vaca3","type":"str"},{"label":"","value":"Vaca4","type":"str"},{"label":"","value":"Vaca5","type":"str"},{"label":"","value":"Vaca6","type":"str"},{"label":"","value":"Vaca7","type":"str"},{"label":"","value":"Vaca8","type":"str"},{"label":"","value":"Vaca9","type":"str"},{"label":"","value":"Vaca10","type":"str"},{"label":"","value":"Vaca11","type":"str"},{"label":"","value":"Vaca12","type":"str"},{"label":"","value":"Vaca13","type":"str"},{"label":"","value":"Vaca14","type":"str"},{"label":"","value":"Vaca15","type":"str"},{"label":"","value":"Vaca16","type":"str"},{"label":"","value":"Vaca17","type":"str"},{"label":"","value":"Vaca18","type":"str"},{"label":"","value":"Vaca19","type":"str"},{"label":"","value":"Vaca20","type":"str"},{"label":"","value":"Vaca21","type":"str"},{"label":"","value":"Vaca22","type":"str"},{"label":"","value":"Vaca23","type":"str"},{"label":"","value":"Vaca24","type":"str"},{"label":"","value":"Vaca25","type":"str"},{"label":"","value":"Vaca26","type":"str"},{"label":"","value":"Vaca27","type":"str"},{"label":"","value":"Vaca28","type":"str"},{"label":"","value":"Vaca29","type":"str"},{"label":"","value":"Vaca30","type":"str"},{"label":"","value":"Vaca31","type":"str"},{"label":"","value":"Vaca32","type":"str"},{"label":"","value":"Vaca33","type":"str"},{"label":"","value":"Vaca34","type":"str"},{"label":"","value":"Vaca35","type":"str"},{"label":"","value":"Vaca36","type":"str"},{"label":"","value":"Vaca37","type":"str"},{"label":"","value":"Vaca38","type":"str"},{"label":"","value":"Vaca39","type":"str"},{"label":"","value":"Vaca40","type":"str"},{"label":"","value":"Vaca41","type":"str"},{"label":"","value":"Vaca42","type":"str"},{"label":"","value":"Vaca43","type":"str"},{"label":"","value":"Vaca44","type":"str"},{"label":"","value":"Vaca45","type":"str"}],"payload":"","topic":"","x":1850,"y":580,"wires":[["d57d5506.c5a358"]]},{"id":"f8389013.68c05","type":"ui_dropdown","z":"ff78fc9c.86266","name":"Temperatura Vacas Mas Almar","label":"","tooltip":"","place":"Select option","group":"aeff9af1.e3da68","order":2,"width":7,"height":1,"passthru":true,"options":[{"label":"","value":"Vaca1","type":"str"},{"label":"","value":"Vaca2","type":"str"},{"label":"","value":"Vaca3","type":"str"},{"label":"","value":"Vaca4","type":"str"},{"label":"","value":"Vaca5","type":"str"},{"label":"","value":"Vaca6","type":"str"},{"label":"","value":"Vaca7","type":"str"},{"label":"","value":"Vaca8","type":"str"},{"label":"","value":"Vaca9","type":"str"},{"label":"","value":"Vaca10","type":"str"},{"label":"","value":"Vaca11","type":"str"},{"label":"","value":"Vaca12","type":"str"},{"label":"","value":"Vaca13","type":"str"},{"label":"","value":"Vaca14","type":"str"},{"label":"","value":"Vaca15","type":"str"},{"label":"","value":"Vaca16","type":"str"},{"label":"","value":"Vaca17","type":"str"},{"label":"","value":"Vaca18","type":"str"},{"label":"","value":"Vaca19","type":"str"},{"label":"","value":"Vaca20","type":"str"},{"label":"","value":"Vaca21","type":"str"},{"label":"","value":"Vaca22","type":"str"},{"label":"","value":"Vaca23","type":"str"},{"label":"","value":"Vaca24","type":"str"},{"label":"","value":"Vaca25","type":"str"},{"label":"","value":"Vaca26","type":"str"},{"label":"","value":"Vaca27","type":"str"},{"label":"","value":"Vaca28","type":"str"},{"label":"","value":"Vaca29","type":"str"},{"label":"","value":"Vaca30","type":"str"},{"label":"","value":"Vaca31","type":"str"},{"label":"","value":"Vaca32","type":"str"},{"label":"","value":"Vaca33","type":"str"},{"label":"","value":"Vaca34","type":"str"},{"label":"","value":"Vaca35","type":"str"},{"label":"","value":"Vaca36","type":"str"},{"label":"","value":"Vaca37","type":"str"},{"label":"","value":"Vaca38","type":"str"},{"label":"","value":"Vaca39","type":"str"},{"label":"","value":"Vaca40","type":"str"},{"label":"","value":"Vaca41","type":"str"},{"label":"","value":"Vaca42","type":"str"},{"label":"","value":"Vaca43","type":"str"},{"label":"","value":"Vaca44","type":"str"},{"label":"","value":"Vaca45","type":"str"},{"label":"","value":"Vaca46","type":"str"},{"label":"","value":"Vaca47","type":"str"},{"label":"","value":"Vaca48","type":"str"},{"label":"","value":"Vaca49","type":"str"},{"label":"","value":"Vaca50","type":"str"},{"label":"","value":"Vaca51","type":"str"},{"label":"","value":"Vaca52","type":"str"}],"payload":"","topic":"","x":1850,"y":660,"wires":[["d57d5506.c5a358"]]},{"id":"592d0236.0ece2c","type":"ui_text","z":"ff78fc9c.86266","group":"d5b997dd.533838","order":4,"width":7,"height":1,"name":"Can Siset","label":"Temperatura:","format":"{{msg.payload}}","layout":"row-left","x":2900,"y":420,"wires":[]},{"id":"1d57c659.05e93a","type":"ui_text","z":"ff78fc9c.86266","group":"56a6c7f8.a41f18","order":4,"width":7,"height":1,"name":"Mas Gener","label":"Temperatura:","format":"{{msg.payload}}","layout":"row-left","x":2910,"y":500,"wires":[]},{"id":"368e7793.1d8c48","type":"ui_text","z":"ff78fc9c.86266","group":"c24f4863.3664e8","order":4,"width":7,"height":1,"name":"Mas Colom","label":"Temperatura:","format":"{{msg.payload}}","layout":"row-left","x":2910,"y":580,"wires":[]},{"id":"919691c1.2e6f3","type":"ui_text","z":"ff78fc9c.86266","group":"aeff9af1.e3da68","order":4,"width":7,"height":1,"name":"Mas Almar","label":"Temperatura:","format":"{{msg.payload}}","layout":"row-left","x":2910,"y":660,"wires":[]},{"id":"8b2ee3ae.d7976","type":"ui_text","z":"ff78fc9c.86266","group":"c24f4863.3664e8","order":5,"width":0,"height":0,"name":"","label":"Numero de la vaca enferma por temperatura:","format":"{{msg.payload}}","layout":"row-left","x":1390,"y":200,"wires":[]},{"id":"8e499ede.bd804","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"c24f4863.3664e8","order":6,"width":7,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":460,"wires":[["f145b3e8.54526"]]},{"id":"f145b3e8.54526","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":460,"wires":[["8b2ee3ae.d7976"]]},{"id":"2c0e28e0.5eacf8","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"d5b997dd.533838","order":6,"width":7,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":520,"wires":[["bd848f1d.e6a76"]]},{"id":"bd848f1d.e6a76","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":520,"wires":[["11369111.4dc43f"]]},{"id":"c49cbcaa.680a4","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"aeff9af1.e3da68","order":6,"width":7,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":580,"wires":[["5d851c49.dca164"]]},{"id":"5d851c49.dca164","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":580,"wires":[["55f1d633.2f0888"]]},{"id":"11369111.4dc43f","type":"ui_text","z":"ff78fc9c.86266","group":"d5b997dd.533838","order":5,"width":0,"height":0,"name":"","label":"Numero de la vaca enferma por temperatura:","format":"{{msg.payload}}","layout":"row-left","x":1390,"y":260,"wires":[]},{"id":"55f1d633.2f0888","type":"ui_text","z":"ff78fc9c.86266","group":"aeff9af1.e3da68","order":5,"width":0,"height":0,"name":"","label":"Numero de la vaca enferma por temperatura:","format":"{{msg.payload}}","layout":"row-left","x":1390,"y":320,"wires":[]},{"id":"202d0aca.b4b226","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"56a6c7f8.a41f18","order":6,"width":7,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":640,"wires":[["270492a6.89e4de"]]},{"id":"270492a6.89e4de","type":"change","z":"ff78fc9c.86266","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":640,"wires":[["6a77eedb.52726"]]},{"id":"6a77eedb.52726","type":"ui_text","z":"ff78fc9c.86266","group":"56a6c7f8.a41f18","order":5,"width":0,"height":0,"name":"","label":"Numero de la vaca enferma por temperatura:","format":"{{msg.payload}}","layout":"row-left","x":1390,"y":380,"wires":[]},{"id":"588ca338.3b722c","type":"comment","z":"ff78fc9c.86266","name":"Mapas Mas Badosa","info":"","x":150,"y":1160,"wires":[]},{"id":"bddaff69.54a81","type":"function","z":"ff78fc9c.86266","name":"prepare mas_colom to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Colom\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":780,"y":2140,"wires":[["f82e3690.638878"]]},{"id":"dd94aa4.7f29b58","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/farm2","events":"all","x":140,"y":2140,"wires":[["5d8e5dc8.f49384"]]},{"id":"f82e3690.638878","type":"ui_worldmap","z":"ff78fc9c.86266","group":"c24f4863.3664e8","order":1,"width":15,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm2","x":1010,"y":2140,"wires":[]},{"id":"41892769.baba08","type":"change","z":"ff78fc9c.86266","name":"obtain mas_b info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.can_siset","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2140,"wires":[["bddaff69.54a81","db2e7c48.704c2"]]},{"id":"5d8e5dc8.f49384","type":"switch","z":"ff78fc9c.86266","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":2140,"wires":[["41892769.baba08"]]},{"id":"a285e37d.62a9b","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"c24f4863.3664e8","order":8,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":600,"y":2180,"wires":[["db2e7c48.704c2"]]},{"id":"db2e7c48.704c2","type":"function","z":"ff78fc9c.86266","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"can_siset\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":830,"y":2180,"wires":[["f82e3690.638878"]]},{"id":"d016b353.aa0a5","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":2180,"wires":[["a285e37d.62a9b"]]},{"id":"e72b9dd8.3f833","type":"function","z":"ff78fc9c.86266","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":460,"y":2280,"wires":[]},{"id":"a0a4a7b.64f4558","type":"inject","z":"ff78fc9c.86266","name":"","topic":"can_siset","payload":"45","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":160,"y":2280,"wires":[["e72b9dd8.3f833"]]},{"id":"cf4b8c45.050f5","type":"ui_worldmap","z":"ff78fc9c.86266","group":"99a248a8.21e428","order":1,"width":15,"height":7,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/mas_colom","x":1510,"y":1840,"wires":[]},{"id":"f1c5ec69.16cb9","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/routes/mas_colom","events":"","x":160,"y":1840,"wires":[["592af2cf.eff03c"]]},{"id":"592af2cf.eff03c","type":"change","z":"ff78fc9c.86266","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1840,"wires":[["bcb2a028.ff233"]]},{"id":"bcb2a028.ff233","type":"split","z":"ff78fc9c.86266","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":570,"y":1840,"wires":[["c7df5244.c7053"]]},{"id":"c7df5244.c7053","type":"function","z":"ff78fc9c.86266","name":"prepare routes to map","func":"var colors = {\n    \"mas_colom\": \"red\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1840,"wires":[["99bf07c6.0bd148"]]},{"id":"99bf07c6.0bd148","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"mas_colom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1840,"wires":[["cf4b8c45.050f5"]]},{"id":"b1d905df.c12588","type":"link out","z":"ff78fc9c.86266","name":"","links":["714440b2.d3692"],"x":1135,"y":2000,"wires":[]},{"id":"714440b2.d3692","type":"link in","z":"ff78fc9c.86266","name":"","links":["b1d905df.c12588"],"x":1180,"y":1920,"wires":[["cf4b8c45.050f5"]]},{"id":"550acb2b.dad154","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"99a248a8.21e428","order":2,"width":5,"height":1,"passthru":false,"label":"Posicion 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":1920,"wires":[["7e7652b4.f31fdc"]]},{"id":"7e7652b4.f31fdc","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"8764-FCM\", \"lat\":42.0641, \"lon\":2.91289};\n\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":1920,"wires":[["b1d905df.c12588"]]},{"id":"4a262cc3.6b1bc4","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"99a248a8.21e428","order":3,"width":5,"height":1,"passthru":false,"label":"Posicion 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":1980,"wires":[["a039d929.3340e8"]]},{"id":"a039d929.3340e8","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"8764-FCM\", \"lat\":42.0438, \"lon\":2.85907};\n\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":1980,"wires":[["b1d905df.c12588"]]},{"id":"670d951a.bd1e0c","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"99a248a8.21e428","order":4,"width":5,"height":1,"passthru":false,"label":"Posicion 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":2040,"wires":[["33ea19ea.888296"]]},{"id":"33ea19ea.888296","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"8764-FCM\", \"lat\":42.03502, \"lon\":2.89239};\n\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":2040,"wires":[["b1d905df.c12588"]]},{"id":"39c70fd2.8ae5c","type":"inject","z":"ff78fc9c.86266","name":"Mas Colom","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2030,"y":1360,"wires":[["8152901e.27689"]]},{"id":"8152901e.27689","type":"random","z":"ff78fc9c.86266","name":"","low":"2","high":"4","inte":"true","property":"payload","x":2200,"y":1360,"wires":[["4cab73e9.30b51c","ffffbefd.e69eb"]]},{"id":"4cab73e9.30b51c","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"99a248a8.21e428","order":5,"width":7,"height":4,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2430,"y":1280,"wires":[]},{"id":"ffffbefd.e69eb","type":"ui_chart","z":"ff78fc9c.86266","name":"","group":"99a248a8.21e428","order":11,"width":15,"height":4,"label":"Histórico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2440,"y":1360,"wires":[[]]},{"id":"26fc973c.e7a658","type":"inject","z":"ff78fc9c.86266","name":"Mas Colom","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2030,"y":1420,"wires":[["10c29b94.72fb14"]]},{"id":"10c29b94.72fb14","type":"random","z":"ff78fc9c.86266","name":"","low":"0","high":"80000","inte":"true","property":"payload","x":2200,"y":1420,"wires":[["1217a649.414c4a"]]},{"id":"1217a649.414c4a","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"99a248a8.21e428","order":7,"width":7,"height":4,"gtype":"donut","title":"Revisión Km","label":"units","format":"{{value}}","min":0,"max":"80000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2370,"y":1420,"wires":[]},{"id":"16918a29.72dba6","type":"comment","z":"ff78fc9c.86266","name":"Mas Colom","info":"","x":2030,"y":1280,"wires":[]},{"id":"c4f5d036.f0ed9","type":"inject","z":"ff78fc9c.86266","name":"Can Siset","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2030,"y":1560,"wires":[["5458e648.573fe8"]]},{"id":"5458e648.573fe8","type":"random","z":"ff78fc9c.86266","name":"","low":"2","high":"4","inte":"true","property":"payload","x":2200,"y":1560,"wires":[["55b3538a.e6a81c","e1eeb5c0.281318"]]},{"id":"55b3538a.e6a81c","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"9fb3cec8.153bc","order":5,"width":7,"height":4,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2430,"y":1520,"wires":[]},{"id":"e1eeb5c0.281318","type":"ui_chart","z":"ff78fc9c.86266","name":"","group":"9fb3cec8.153bc","order":11,"width":15,"height":4,"label":"Histórico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2440,"y":1560,"wires":[[]]},{"id":"febf9095.c59a","type":"inject","z":"ff78fc9c.86266","name":"Can Siset","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2030,"y":1620,"wires":[["3bd28449.cb8a8c"]]},{"id":"3bd28449.cb8a8c","type":"random","z":"ff78fc9c.86266","name":"","low":"0","high":"80000","inte":"true","property":"payload","x":2200,"y":1620,"wires":[["37bbd8d.2a1c128"]]},{"id":"37bbd8d.2a1c128","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"9fb3cec8.153bc","order":7,"width":7,"height":4,"gtype":"donut","title":"Revisión Km","label":"units","format":"{{value}}","min":0,"max":"80000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2370,"y":1620,"wires":[]},{"id":"b5ac531a.5540c","type":"comment","z":"ff78fc9c.86266","name":"Can Siset","info":"","x":2020,"y":1480,"wires":[]},{"id":"cc0a36f5.eefc08","type":"inject","z":"ff78fc9c.86266","name":"Mas Almar","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2030,"y":1760,"wires":[["b5eee998.db7238"]]},{"id":"b5eee998.db7238","type":"random","z":"ff78fc9c.86266","name":"","low":"2","high":"4","inte":"true","property":"payload","x":2200,"y":1760,"wires":[["a46ce1bb.6b973","53a65c84.f51234"]]},{"id":"a46ce1bb.6b973","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"833b895.76c9878","order":5,"width":7,"height":4,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2430,"y":1700,"wires":[]},{"id":"53a65c84.f51234","type":"ui_chart","z":"ff78fc9c.86266","name":"","group":"833b895.76c9878","order":11,"width":15,"height":4,"label":"Histórico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2440,"y":1760,"wires":[[]]},{"id":"a1dfa0ac.88ed2","type":"inject","z":"ff78fc9c.86266","name":"Mas Almar","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2030,"y":1820,"wires":[["eaa5c431.cddc48"]]},{"id":"eaa5c431.cddc48","type":"random","z":"ff78fc9c.86266","name":"","low":"0","high":"80000","inte":"true","property":"payload","x":2200,"y":1820,"wires":[["71d1d875.e560f8"]]},{"id":"71d1d875.e560f8","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"833b895.76c9878","order":7,"width":7,"height":4,"gtype":"donut","title":"Revisión Km","label":"units","format":"{{value}}","min":0,"max":"80000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2370,"y":1820,"wires":[]},{"id":"8a0fca23.6d27b8","type":"comment","z":"ff78fc9c.86266","name":"Mas Almar","info":"","x":2020,"y":1680,"wires":[]},{"id":"81f832f4.cac2a","type":"inject","z":"ff78fc9c.86266","name":"Mas Gener","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2050,"y":1980,"wires":[["52403eb4.1d473"]]},{"id":"52403eb4.1d473","type":"random","z":"ff78fc9c.86266","name":"","low":"2","high":"4","inte":"true","property":"payload","x":2220,"y":1980,"wires":[["6776df6a.35fee","1798c4c3.9d1a1b"]]},{"id":"6776df6a.35fee","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"1db4f7f2.974a28","order":5,"width":7,"height":4,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2450,"y":1920,"wires":[]},{"id":"1798c4c3.9d1a1b","type":"ui_chart","z":"ff78fc9c.86266","name":"","group":"1db4f7f2.974a28","order":11,"width":15,"height":4,"label":"Histórico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2460,"y":1980,"wires":[[]]},{"id":"337010c4.00986","type":"inject","z":"ff78fc9c.86266","name":"Mas Gener","topic":"Temp","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":2050,"y":2040,"wires":[["97144768.61ede8"]]},{"id":"97144768.61ede8","type":"random","z":"ff78fc9c.86266","name":"","low":"0","high":"80000","inte":"true","property":"payload","x":2220,"y":2040,"wires":[["fb37a4be.ac0a68"]]},{"id":"fb37a4be.ac0a68","type":"ui_gauge","z":"ff78fc9c.86266","name":"","group":"1db4f7f2.974a28","order":6,"width":7,"height":4,"gtype":"donut","title":"Revisión Km","label":"units","format":"{{value}}","min":0,"max":"80000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2390,"y":2040,"wires":[]},{"id":"1a6afced.77e733","type":"comment","z":"ff78fc9c.86266","name":"Mas Gener","info":"","x":2040,"y":1900,"wires":[]},{"id":"36905830.3a2ba8","type":"comment","z":"ff78fc9c.86266","name":"Mapas Can Siset","info":"","x":100,"y":2360,"wires":[]},{"id":"1932fae8.d95885","type":"function","z":"ff78fc9c.86266","name":"prepare can sisett to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Can Siset\",\n    \"area\": msg.payload.area,\n    \"color\": \"orange\",\n    \"fillColor\": \"orange\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":730,"y":2720,"wires":[["2fc4b732.3e39f8"]]},{"id":"1c31b668.09d53a","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/farm3","events":"all","x":100,"y":2720,"wires":[["a2bd3953.f8b7b8"]]},{"id":"2fc4b732.3e39f8","type":"ui_worldmap","z":"ff78fc9c.86266","group":"d5b997dd.533838","order":1,"width":15,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm3","x":970,"y":2720,"wires":[]},{"id":"24b431ae.615cae","type":"change","z":"ff78fc9c.86266","name":"obtain mas_b info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_colom","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2720,"wires":[["1932fae8.d95885","1fd13e02.adf3e2"]]},{"id":"a2bd3953.f8b7b8","type":"switch","z":"ff78fc9c.86266","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":2720,"wires":[["24b431ae.615cae"]]},{"id":"bd8aea77.49b858","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"d5b997dd.533838","order":8,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":560,"y":2760,"wires":[["1fd13e02.adf3e2"]]},{"id":"1fd13e02.adf3e2","type":"function","z":"ff78fc9c.86266","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_colom\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":790,"y":2760,"wires":[["2fc4b732.3e39f8"]]},{"id":"e9d37697.281418","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":2760,"wires":[["bd8aea77.49b858"]]},{"id":"5296e749.d712d8","type":"function","z":"ff78fc9c.86266","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":420,"y":2860,"wires":[]},{"id":"63286db1.781b44","type":"inject","z":"ff78fc9c.86266","name":"","topic":"mas_colom","payload":"42","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":2860,"wires":[["5296e749.d712d8"]]},{"id":"a5aa2528.83c3f8","type":"ui_worldmap","z":"ff78fc9c.86266","group":"9fb3cec8.153bc","order":1,"width":15,"height":7,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/can_siset","x":1470,"y":2420,"wires":[]},{"id":"1a9185b9.0ccb0a","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/routes/can_siset","events":"","x":120,"y":2420,"wires":[["a4d0d438.318598"]]},{"id":"a4d0d438.318598","type":"change","z":"ff78fc9c.86266","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2420,"wires":[["cc4630e4.42369"]]},{"id":"cc4630e4.42369","type":"split","z":"ff78fc9c.86266","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":530,"y":2420,"wires":[["e85f6901.ab13e8"]]},{"id":"e85f6901.ab13e8","type":"function","z":"ff78fc9c.86266","name":"prepare routes to map","func":"var colors = {\n    \"mas_colom\": \"orange\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":2420,"wires":[["dc4f15f0.d06d28"]]},{"id":"dc4f15f0.d06d28","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"can_siset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":2420,"wires":[["a5aa2528.83c3f8"]]},{"id":"b20107f.55cd4f8","type":"link out","z":"ff78fc9c.86266","name":"","links":["f2c7ca4b.5e8118"],"x":955,"y":2560,"wires":[]},{"id":"f2c7ca4b.5e8118","type":"link in","z":"ff78fc9c.86266","name":"","links":["b20107f.55cd4f8"],"x":1315,"y":2480,"wires":[["a5aa2528.83c3f8"]]},{"id":"a50b3e8.63d97c","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"9fb3cec8.153bc","order":2,"width":5,"height":1,"passthru":false,"label":"Posicion 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":2500,"wires":[["27ad1bbf.4c8f94"]]},{"id":"27ad1bbf.4c8f94","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"9264-FCM\", \"lat\":42.07443, \"lon\":2.83364};\n\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":2500,"wires":[["b20107f.55cd4f8"]]},{"id":"a7fd7d14.5989f","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"9fb3cec8.153bc","order":3,"width":5,"height":1,"passthru":false,"label":"Posicion 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":2560,"wires":[["8753fe0e.805d4"]]},{"id":"8753fe0e.805d4","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"9264-FCM\", \"lat\":42.06458, \"lon\":2.81242};\n\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":2560,"wires":[["b20107f.55cd4f8"]]},{"id":"6ab46c94.cb4b84","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"9fb3cec8.153bc","order":4,"width":5,"height":1,"passthru":false,"label":"Posicion 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":2620,"wires":[["de27d267.a2445"]]},{"id":"de27d267.a2445","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"9264-FCM\", \"lat\":42.03502, \"lon\":2.89239};\n\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":2620,"wires":[["b20107f.55cd4f8"]]},{"id":"677c704e.ac7da","type":"comment","z":"ff78fc9c.86266","name":"Mapas mas Almar","info":"","x":130,"y":2940,"wires":[]},{"id":"2118f26a.f9ca2e","type":"function","z":"ff78fc9c.86266","name":"prepare can sisett to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Almar\",\n    \"area\": msg.payload.area,\n    \"color\": \"green\",\n    \"fillColor\": \"green\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":750,"y":3300,"wires":[["ee85b759.5a9b28"]]},{"id":"6339f44b.5770ac","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/farm4","events":"all","x":120,"y":3300,"wires":[["b289580f.5c7378"]]},{"id":"ee85b759.5a9b28","type":"ui_worldmap","z":"ff78fc9c.86266","group":"aeff9af1.e3da68","order":1,"width":15,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm4","x":990,"y":3300,"wires":[]},{"id":"5b8bcbad.1410e4","type":"change","z":"ff78fc9c.86266","name":"obtain mas_b info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_badosa","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":3300,"wires":[["2118f26a.f9ca2e","bd635a5f.8d05f8"]]},{"id":"b289580f.5c7378","type":"switch","z":"ff78fc9c.86266","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":3300,"wires":[["5b8bcbad.1410e4"]]},{"id":"204f7f93.7ae1b","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"aeff9af1.e3da68","order":8,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":580,"y":3340,"wires":[["bd635a5f.8d05f8"]]},{"id":"bd635a5f.8d05f8","type":"function","z":"ff78fc9c.86266","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_badosa\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":810,"y":3340,"wires":[["ee85b759.5a9b28"]]},{"id":"fe83126.78cc6f","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":3340,"wires":[["204f7f93.7ae1b"]]},{"id":"56dd55c9.55f28c","type":"function","z":"ff78fc9c.86266","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":440,"y":3440,"wires":[]},{"id":"bba2106f.e7a52","type":"inject","z":"ff78fc9c.86266","name":"","topic":"mas_badosa","payload":"52","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":150,"y":3440,"wires":[["56dd55c9.55f28c"]]},{"id":"98616785.489878","type":"ui_worldmap","z":"ff78fc9c.86266","group":"833b895.76c9878","order":1,"width":15,"height":7,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/mas_almar","x":1490,"y":3000,"wires":[]},{"id":"66af5e8b.71c1e","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/routes/mas_almar","events":"","x":140,"y":3000,"wires":[["122b35da.b8bc1a"]]},{"id":"122b35da.b8bc1a","type":"change","z":"ff78fc9c.86266","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":3000,"wires":[["927fb9ce.6551f8"]]},{"id":"927fb9ce.6551f8","type":"split","z":"ff78fc9c.86266","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":550,"y":3000,"wires":[["f1eda6e3.80e848"]]},{"id":"f1eda6e3.80e848","type":"function","z":"ff78fc9c.86266","name":"prepare routes to map","func":"var colors = {\n    \"mas_almar\": \"green\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":3000,"wires":[["d892edd.2876d1"]]},{"id":"d892edd.2876d1","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"mas_almar","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":3000,"wires":[["98616785.489878"]]},{"id":"a20efabd.320a68","type":"link out","z":"ff78fc9c.86266","name":"","links":["ef3df281.85a42"],"x":975,"y":3140,"wires":[]},{"id":"ef3df281.85a42","type":"link in","z":"ff78fc9c.86266","name":"","links":["a20efabd.320a68"],"x":1335,"y":3060,"wires":[["98616785.489878"]]},{"id":"9ef8a8a.af58958","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"833b895.76c9878","order":2,"width":5,"height":1,"passthru":false,"label":"Posicion 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":3080,"wires":[["7a5f7c3.e853484"]]},{"id":"7a5f7c3.e853484","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"1184-FCM\", \"lat\":42.01847, \"lon\":2.97606};\n\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":3080,"wires":[["a20efabd.320a68"]]},{"id":"ee7447c0.8e0708","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"833b895.76c9878","order":3,"width":5,"height":1,"passthru":false,"label":"Posicion 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":3140,"wires":[["47ee795d.378c98"]]},{"id":"47ee795d.378c98","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"1184-FCM\", \"lat\":42.04492, \"lon\":2.95151};\n\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":3140,"wires":[["a20efabd.320a68"]]},{"id":"14ba357b.2c043b","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"833b895.76c9878","order":4,"width":5,"height":1,"passthru":false,"label":"Posicion 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":3200,"wires":[["bf9f63d9.d66d4"]]},{"id":"bf9f63d9.d66d4","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"1184-FCM\", \"lat\":42.03502, \"lon\":2.89239};\n\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":3200,"wires":[["a20efabd.320a68"]]},{"id":"363ea7e5.424768","type":"comment","z":"ff78fc9c.86266","name":"Mapas mas Gener","info":"","x":130,"y":3540,"wires":[]},{"id":"53ff4555.68d15c","type":"function","z":"ff78fc9c.86266","name":"prepare can sisett to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"purple\",\n    \"fillColor\": \"purple\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":750,"y":3900,"wires":[["225dbeab.2527d2"]]},{"id":"24810283.5d247e","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/farm5","events":"all","x":120,"y":3900,"wires":[["d66cd6f1.3b7b58"]]},{"id":"225dbeab.2527d2","type":"ui_worldmap","z":"ff78fc9c.86266","group":"56a6c7f8.a41f18","order":1,"width":15,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm5","x":990,"y":3900,"wires":[]},{"id":"8cb9cb15.3e2ee8","type":"change","z":"ff78fc9c.86266","name":"obtain mas_b info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":3900,"wires":[["53ff4555.68d15c","81e64e8c.b697d"]]},{"id":"d66cd6f1.3b7b58","type":"switch","z":"ff78fc9c.86266","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":3900,"wires":[["8cb9cb15.3e2ee8"]]},{"id":"1196c497.76518b","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"56a6c7f8.a41f18","order":7,"width":7,"height":1,"passthru":true,"label":"manual update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":580,"y":3940,"wires":[["81e64e8c.b697d"]]},{"id":"81e64e8c.b697d","type":"function","z":"ff78fc9c.86266","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":810,"y":3940,"wires":[["225dbeab.2527d2"]]},{"id":"b2560044.9b2e8","type":"inject","z":"ff78fc9c.86266","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":3940,"wires":[["1196c497.76518b"]]},{"id":"c8ea73ff.85028","type":"function","z":"ff78fc9c.86266","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":440,"y":4040,"wires":[]},{"id":"c0cd6fa6.62261","type":"inject","z":"ff78fc9c.86266","name":"","topic":"mas_gener","payload":"40","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":140,"y":4040,"wires":[["c8ea73ff.85028"]]},{"id":"4b402487.8339cc","type":"ui_worldmap","z":"ff78fc9c.86266","group":"1db4f7f2.974a28","order":1,"width":15,"height":7,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes/mas_gener","x":1490,"y":3600,"wires":[]},{"id":"b0d7b277.04a15","type":"worldmap in","z":"ff78fc9c.86266","name":"","path":"/map/routes/mas_gener","events":"","x":140,"y":3600,"wires":[["9f4598ca.05a218"]]},{"id":"9f4598ca.05a218","type":"change","z":"ff78fc9c.86266","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":3600,"wires":[["9e25d563.d1aa88"]]},{"id":"9e25d563.d1aa88","type":"split","z":"ff78fc9c.86266","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":550,"y":3600,"wires":[["93286324.fd33d"]]},{"id":"93286324.fd33d","type":"function","z":"ff78fc9c.86266","name":"prepare routes to map","func":"var colors = {\n    \"mas_gener\": \"purple\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name]\n};\n\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":3600,"wires":[["e5ac03d1.5dba6"]]},{"id":"e5ac03d1.5dba6","type":"switch","z":"ff78fc9c.86266","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"mas_gener","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":3600,"wires":[["4b402487.8339cc"]]},{"id":"c8c8257c.d035b8","type":"link out","z":"ff78fc9c.86266","name":"","links":["31343239.6ecfee"],"x":975,"y":3740,"wires":[]},{"id":"31343239.6ecfee","type":"link in","z":"ff78fc9c.86266","name":"","links":["c8c8257c.d035b8"],"x":1335,"y":3660,"wires":[["4b402487.8339cc"]]},{"id":"bafdfc86.48306","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"1db4f7f2.974a28","order":2,"width":5,"height":1,"passthru":false,"label":"Posicion 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":3680,"wires":[["f071fcf7.807d"]]},{"id":"f071fcf7.807d","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"0407-FCM\", \"lat\":41.91081, \"lon\":2.80437};\n\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":3680,"wires":[["c8c8257c.d035b8"]]},{"id":"3617f8fa.01a3e8","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"1db4f7f2.974a28","order":3,"width":5,"height":1,"passthru":false,"label":"Posicion 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":3740,"wires":[["f75a3e62.81586"]]},{"id":"f75a3e62.81586","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"0407-FCM\", \"lat\":41.96969, \"lon\":2.77859};\n\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":3740,"wires":[["c8c8257c.d035b8"]]},{"id":"7e7e257e.e888cc","type":"ui_button","z":"ff78fc9c.86266","name":"","group":"1db4f7f2.974a28","order":4,"width":5,"height":1,"passthru":false,"label":"Posicion 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":3800,"wires":[["35b9657a.04bc6a"]]},{"id":"35b9657a.04bc6a","type":"function","z":"ff78fc9c.86266","name":"","func":"msg.payload={\"name\":\"0407-FCM\", \"lat\":42.03502, \"lon\":2.89239};\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":3800,"wires":[["c8c8257c.d035b8"]]},{"id":"a945bd26.d26f2","type":"comment","z":"4c16743a.f4b8fc","name":"Planta","info":"","x":50,"y":20,"wires":[]},{"id":"a7c5f610.8ba9a8","type":"inject","z":"4c16743a.f4b8fc","name":"nevera","topic":"temperatura1","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["62ee48d9.791ab8"]]},{"id":"62ee48d9.791ab8","type":"random","z":"4c16743a.f4b8fc","name":"","low":"1","high":"30","inte":"true","property":"payload","x":320,"y":120,"wires":[["acbbb7f2.c960a8"]]},{"id":"74eeb764.15e788","type":"inject","z":"4c16743a.f4b8fc","name":"nevera","topic":"temperatura2","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["216e246f.bc336c"]]},{"id":"216e246f.bc336c","type":"random","z":"4c16743a.f4b8fc","name":"","low":"1","high":"30","inte":"true","property":"payload","x":320,"y":160,"wires":[["acbbb7f2.c960a8"]]},{"id":"acbbb7f2.c960a8","type":"ui_chart","z":"4c16743a.f4b8fc","name":"","group":"30539649.44b7ca","order":1,"width":12,"height":6,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":160,"wires":[[]]},{"id":"8e4cea07.a431c8","type":"inject","z":"4c16743a.f4b8fc","name":"nevera","topic":"temperatura3","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["cca0cbdc.e26e18"]]},{"id":"cca0cbdc.e26e18","type":"random","z":"4c16743a.f4b8fc","name":"","low":"1","high":"30","inte":"true","property":"payload","x":320,"y":200,"wires":[["acbbb7f2.c960a8"]]},{"id":"731c0664.6cf1e8","type":"inject","z":"4c16743a.f4b8fc","name":"nevera","topic":"humedad1","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["99000c4d.e03c5"]]},{"id":"99000c4d.e03c5","type":"random","z":"4c16743a.f4b8fc","name":"","low":"50","high":"90","inte":"true","property":"payload","x":320,"y":260,"wires":[["c75a7dd4.f2796"]]},{"id":"179827fb.f119c8","type":"inject","z":"4c16743a.f4b8fc","name":"nevera","topic":"humedad2","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["1c6c5126.cc0f5f"]]},{"id":"1c6c5126.cc0f5f","type":"random","z":"4c16743a.f4b8fc","name":"","low":"50","high":"90","inte":"true","property":"payload","x":320,"y":300,"wires":[["c75a7dd4.f2796"]]},{"id":"63d1d4d0.e77e0c","type":"inject","z":"4c16743a.f4b8fc","name":"nevera","topic":"humedad3","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":340,"wires":[["4ed75663.870148"]]},{"id":"4ed75663.870148","type":"random","z":"4c16743a.f4b8fc","name":"","low":"50","high":"90","inte":"true","property":"payload","x":320,"y":340,"wires":[["c75a7dd4.f2796"]]},{"id":"c75a7dd4.f2796","type":"ui_chart","z":"4c16743a.f4b8fc","name":"","group":"30539649.44b7ca","order":2,"width":12,"height":6,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":300,"wires":[[]]},{"id":"6257520.4a0f3b","type":"ui_switch","z":"4c16743a.f4b8fc","name":"Puerta nave camiones","label":"Puerta nave camiones","tooltip":"","group":"a90a5baa.f60588","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":720,"wires":[[]]},{"id":"c4b2e80b.d64e08","type":"inject","z":"4c16743a.f4b8fc","name":"planta","topic":"humedad1","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["a61ce0c9.701c6"]]},{"id":"a61ce0c9.701c6","type":"random","z":"4c16743a.f4b8fc","name":"","low":"50","high":"90","inte":"true","property":"payload","x":300,"y":520,"wires":[["173deffa.7f9ba"]]},{"id":"5e4fd67a.658fa8","type":"inject","z":"4c16743a.f4b8fc","name":"oficinas","topic":"humedad2","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":560,"wires":[["b5b9209c.1f1b"]]},{"id":"b5b9209c.1f1b","type":"random","z":"4c16743a.f4b8fc","name":"","low":"50","high":"90","inte":"true","property":"payload","x":300,"y":560,"wires":[["173deffa.7f9ba"]]},{"id":"173deffa.7f9ba","type":"ui_chart","z":"4c16743a.f4b8fc","name":"","group":"3ce1d14c.33be7e","order":1,"width":12,"height":11,"label":"Equipos clima","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":560,"wires":[[]]},{"id":"9bfcac73.5467f","type":"comment","z":"4c16743a.f4b8fc","name":"Estado oficinas","info":"","x":120,"y":80,"wires":[]},{"id":"4343bd9f.c22ce4","type":"comment","z":"4c16743a.f4b8fc","name":"Equipos de frío","info":"","x":120,"y":440,"wires":[]},{"id":"81f1e8b3.1b3838","type":"comment","z":"4c16743a.f4b8fc","name":"Control puerta","info":"","x":110,"y":660,"wires":[]},{"id":"5d29b13f.d9e12","type":"inject","z":"4c16743a.f4b8fc","name":"","topic":"","payload":"{\"name\":\"4568 GHP\",\"lat\":42.116165,\"lon\":2.744355}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":760,"wires":[[]]},{"id":"d6c7ec14.68efd","type":"inject","z":"4c16743a.f4b8fc","name":"","topic":"","payload":"{\"name\":\"Planta\",\"lat\":42.034722,\"lon\":2.892528}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":800,"wires":[[]]},{"id":"4c578190.26db4","type":"ui_text","z":"4c16743a.f4b8fc","group":"a90a5baa.f60588","order":1,"width":0,"height":0,"name":"","label":"Camion Mas Badosa","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":760,"wires":[]},{"id":"a9622268.3aa32","type":"ui_text","z":"4c16743a.f4b8fc","group":"a90a5baa.f60588","order":3,"width":0,"height":0,"name":"","label":"Camion Mas Almar","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":800,"wires":[]},{"id":"450a86fc.24c168","type":"inject","z":"4c16743a.f4b8fc","name":"Planta","topic":"","payload":"{\"name\":\"Planta\",\"lat\":42.034722,\"lon\":2.892528}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"5","x":230,"y":900,"wires":[["199f223f.dc9b8e"]]},{"id":"199f223f.dc9b8e","type":"ui_worldmap","z":"4c16743a.f4b8fc","group":"a90a5baa.f60588","order":4,"width":15,"height":7,"name":"planta","lat":"42.034722","lon":"2.892528","zoom":"17","layer":"OSM","cluster":"10","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/map","x":470,"y":900,"wires":[]},{"id":"4d3c3424.06411c","type":"worldmap in","z":"4c16743a.f4b8fc","name":"","path":"/map/planta","events":"","x":220,"y":1040,"wires":[["199f223f.dc9b8e"]]},{"id":"2eee8ef5.6c76c2","type":"inject","z":"4c16743a.f4b8fc","name":"Mas Badosa","topic":"","payload":"{\"name\":\"Mas Badosa\",\"lat\":42.033807,\"lon\":2.890617}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"6","x":250,"y":940,"wires":[["199f223f.dc9b8e"]]}]