Proyecto IIOT/Proyecto_IIOT/NodeREdPrototipo.json
[{"id":"ec867d33.fe044","type":"tab","label":"Prototipo","disabled":false,"info":""},{"id":"172592ba.f639ad","type":"ui_chart","z":"ec867d33.fe044","name":"","group":"1900a678.e79f02","order":1,"width":12,"height":6,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"30","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":160,"wires":[[]]},{"id":"72ed6708.b64c9","type":"ui_chart","z":"ec867d33.fe044","name":"","group":"1900a678.e79f02","order":2,"width":12,"height":6,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":240,"wires":[[]]},{"id":"fab84e21.91efd","type":"ui_switch","z":"ec867d33.fe044","name":"Puerta nave camiones","label":"Puerta nave camiones","tooltip":"","group":"a3f01f44.5439a8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":600,"wires":[["90c4daef.86ad78"]]},{"id":"7d459328.53d194","type":"mqtt in","z":"ec867d33.fe044","name":"","topic":"24:6F:28:BF:52:EC/DHT11","qos":"0","datatype":"auto","broker":"89ec1251.3668d","x":200,"y":200,"wires":[["132ccd42.52186b","c72beb0.1e4e998"]]},{"id":"132ccd42.52186b","type":"json","z":"ec867d33.fe044","name":"","property":"payload","action":"","pretty":false,"x":430,"y":160,"wires":[["9a1c00ff.f89f48"]]},{"id":"c72beb0.1e4e998","type":"json","z":"ec867d33.fe044","name":"","property":"payload","action":"","pretty":false,"x":430,"y":240,"wires":[["d97e7d05.d6a608"]]},{"id":"9a1c00ff.f89f48","type":"function","z":"ec867d33.fe044","name":"","func":"msg.payload=msg.payload.T\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["172592ba.f639ad"]]},{"id":"d97e7d05.d6a608","type":"function","z":"ec867d33.fe044","name":"","func":"msg.payload=msg.payload.H\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["72ed6708.b64c9"]]},{"id":"bfeb3482.afca58","type":"mqtt out","z":"ec867d33.fe044","name":"","topic":"24:6F:28:BF:52:EC/rele","qos":"","retain":"","broker":"89ec1251.3668d","x":900,"y":480,"wires":[]},{"id":"64ad01b4.3605e","type":"rbe","z":"ec867d33.fe044","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":710,"y":480,"wires":[["bfeb3482.afca58"]]},{"id":"e6a0f117.80889","type":"mqtt in","z":"ec867d33.fe044","name":"","topic":"FC:F5:C4:26:75:04/Datos","qos":"0","datatype":"auto","broker":"89ec1251.3668d","x":180,"y":480,"wires":[["691e241c.4f55dc"]]},{"id":"691e241c.4f55dc","type":"json","z":"ec867d33.fe044","name":"","property":"payload","action":"","pretty":false,"x":390,"y":480,"wires":[["16eff1a1.302296"]]},{"id":"16eff1a1.302296","type":"function","z":"ec867d33.fe044","name":"","func":"msg.payload=msg.payload.P\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["64ad01b4.3605e"]]},{"id":"dd5a206f.5e3f48","type":"comment","z":"ec867d33.fe044","name":"Lectura del dato Temp y humedad del MQTT","info":"Extraemos los datos del broker mqtt en formato json y mediante una función extraemos los valores de temperatura y humedad por separados y los mostramos.","x":240,"y":100,"wires":[]},{"id":"b7bdcb9d.3ae648","type":"comment","z":"ec867d33.fe044","name":"Lectura y escritura del dato del pulsador del Camión","info":"Extraemos el dato del pulsador del camión y lo publicamos como topico en la planta para que asi a mota de la planta pueda leer el valor.\nSolo se publica en caso de que el valor se modifique y también mediante un pulsador","x":280,"y":420,"wires":[]},{"id":"90c4daef.86ad78","type":"mqtt out","z":"ec867d33.fe044","name":"","topic":"24:6F:28:BF:52:EC/rele","qos":"","retain":"","broker":"89ec1251.3668d","x":900,"y":600,"wires":[]},{"id":"7d210029.df82a","type":"comment","z":"ec867d33.fe044","name":"Pulsador alternativo","info":"","x":670,"y":560,"wires":[]},{"id":"1900a678.e79f02","type":"ui_group","z":"","name":"Control oficinas","tab":"5f627b2f.bf80f4","order":2,"disp":true,"width":12,"collapse":false},{"id":"a3f01f44.5439a8","type":"ui_group","z":"","name":"Entrada camiones","tab":"5f627b2f.bf80f4","order":1,"disp":true,"width":15,"collapse":false},{"id":"89ec1251.3668d","type":"mqtt-broker","z":"","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5f627b2f.bf80f4","type":"ui_tab","z":"","name":"Planta","icon":"dashboard","order":5,"disabled":false,"hidden":false}]